A - Takealot Webhook Receiver-z7Ugu7bI7ddI5IzcxFHPR.json
[
  {
    "updatedAt": "2026-02-05T11:08:19.621Z",
    "createdAt": "2026-02-05T08:51:22.988Z",
    "id": "z7Ugu7bI7ddI5IzcxFHPR",
    "name": "A - Takealot Webhook Receiver",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "takealot-webhook/:seller_id",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1072,
          224
        ],
        "id": "95c0f315-629f-4e57-8e87-5d26e97cc665",
        "name": "Webhook",
        "webhookId": "takealot-state-machine"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $('Get row(s)').item.json.SellerID }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "id": "cbafa4ed-cb82-4d5f-840b-e6a7c378d1c9"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          224
        ],
        "id": "ff03c902-9783-4b81-ae56-5618d4998784",
        "name": "Seller Exists?"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"error\": \"Unknown seller\", \"seller_id\": \"{{ $('Webhook').item.json.params.seller_id }}\" }",
          "options": {
            "responseCode": 404
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          752,
          320
        ],
        "id": "1d2bd8f9-0a53-4edb-b89b-7e71e4052cdd",
        "name": "404 Unknown Seller"
      },
      {
        "parameters": {
          "jsCode": "const webhook = $('Webhook').item.json;\nconst sale = webhook.body.sale;\nconst eventDate = webhook.body.event_timestamp_utc.split('T')[0];\n\nreturn {\n  json: {\n    idempotency_key: `${webhook.params.seller_id}_${sale.order_item_id}_${sale.sale_status_id}_${eventDate}`,\n    order_item_id: sale.order_item_id,\n    order_id: sale.order_id,\n    seller_id: webhook.params.seller_id,\n    sale_status_id: sale.sale_status_id,\n    sale_status: sale.sale_status,\n    sku: sale.sku,\n    tsin: sale.tsin,\n    product_title: sale.product_title,\n    quantity: sale.quantity,\n    selling_price: sale.selling_price,\n    customer: sale.customer,\n    warehouse: sale.warehouse,\n    warehouse_id: sale.warehouse_id || null,\n    event_timestamp_utc: webhook.body.event_timestamp_utc\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          128
        ],
        "id": "696e0240-96d1-4e07-9cac-0a046972b84a",
        "name": "Build Event Object",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id FROM order_events WHERE idempotency_key = '{{ $json.idempotency_key }}' LIMIT 1",
          "options": {
            "queryReplacement": "="
          }
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          976,
          128
        ],
        "id": "c0ca3962-3287-41d9-91e2-c4a28f02dfbf",
        "name": "Check Duplicate",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "dJUtvtCJ2ElIhHfT",
            "name": "Tallypro MySQL"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": 0,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "id": "2eb3cbcf-3b9c-4117-b950-2af76fa27a07"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1168,
          128
        ],
        "id": "01f3395b-bff7-47e9-94f3-9ecf0e93a285",
        "name": "Is New?"
      },
      {
        "parameters": {
          "table": "order_events",
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "idempotency_key",
                "value": "={{ $('Build Event Object').item.json.idempotency_key }}"
              },
              {
                "column": "order_item_id",
                "value": "={{ $('Build Event Object').item.json.order_item_id }}"
              },
              {
                "column": "order_id",
                "value": "={{ $('Build Event Object').item.json.order_id }}"
              },
              {
                "column": "seller_id",
                "value": "={{ $('Build Event Object').item.json.seller_id }}"
              },
              {
                "column": "sale_status_id",
                "value": "={{ $('Build Event Object').item.json.sale_status_id }}"
              },
              {
                "column": "sale_status",
                "value": "={{ $('Build Event Object').item.json.sale_status }}"
              },
              {
                "column": "sku",
                "value": "={{ $('Build Event Object').item.json.sku }}"
              },
              {
                "column": "tsin",
                "value": "={{ $('Build Event Object').item.json.tsin }}"
              },
              {
                "column": "product_title",
                "value": "={{ $('Build Event Object').item.json.product_title }}"
              },
              {
                "column": "quantity",
                "value": "={{ $('Build Event Object').item.json.quantity }}"
              },
              {
                "column": "selling_price",
                "value": "={{ $('Build Event Object').item.json.selling_price }}"
              },
              {
                "column": "customer",
                "value": "={{ $('Build Event Object').item.json.customer }}"
              },
              {
                "column": "warehouse",
                "value": "={{ $('Build Event Object').item.json.warehouse }}"
              },
              {
                "column": "warehouse_id",
                "value": "={{ $('Build Event Object').item.json.warehouse_id }}"
              },
              {
                "column": "event_timestamp_utc",
                "value": "={{ $('Build Event Object').item.json.event_timestamp_utc }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1392,
          0
        ],
        "id": "665a37b5-4c97-43b5-9498-79eb078fddd5",
        "name": "Insert Event",
        "credentials": {
          "mySql": {
            "id": "dJUtvtCJ2ElIhHfT",
            "name": "Tallypro MySQL"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"status\": \"accepted\", \"idempotency_key\": \"{{ $('Build Event Object').item.json.idempotency_key }}\" }",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1616,
          0
        ],
        "id": "9bacf46e-0302-413f-93e0-6e377be7bd31",
        "name": "200 Accepted"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"status\": \"duplicate\", \"idempotency_key\": \"{{ $('Build Event Object').item.json.idempotency_key }}\" }",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1392,
          240
        ],
        "id": "5383bce7-69c3-428c-93ff-37ae9a8750c2",
        "name": "200 Duplicate"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "P2idoCVDSQnCITNY",
            "mode": "list",
            "cachedResultName": "zoho_info",
            "cachedResultUrl": "/projects/A2rkQg960Oa5Tvrh/datatables/P2idoCVDSQnCITNY"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "SellerID",
                "keyValue": "={{ $json.params.seller_id }}"
              },
              {
                "keyName": "active",
                "condition": "isTrue"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -752,
          224
        ],
        "id": "09485e1a-7b9e-4670-b0e3-566780f7392c",
        "name": "Get row(s)",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=z7Ugu7bI7ddI5IzcxFHPR) to commit change to GitHub",
          "height": 140,
          "width": 424,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1072,
          64
        ],
        "typeVersion": 1,
        "id": "555ff80b-3b07-48e4-a615-bbbaa356cef5",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ { \"data\": \"https://n8n.tallypro.co.za/webhook/fa329524-5a4e-4fab-a636-cfcd3b496f4b/\" + $('Webhook').item.json.params.seller_id + JSON.stringify($('Webhook').item.json.body).split('\":').join('\": ').split(',\"').join(', \"').split(':{').join(': {').split('},').join('},') } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -848,
          368
        ],
        "id": "f1164780-a480-48e0-81a5-041ad137bb49",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "=data",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -640,
          368
        ],
        "id": "1a1ba40c-b195-499d-935e-b75f7a80e193",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -448,
          240
        ],
        "id": "fad80ef1-7e4c-4b43-b619-608cd3f1843b",
        "name": "Merge"
      },
      {
        "parameters": {
          "action": "hmac",
          "binaryData": true,
          "binaryPropertyName": "={{ $('Merge').item.binary.data }}",
          "type": "SHA256",
          "dataPropertyName": "HMAC",
          "secret": "={{ $json.takealot_webhook_secret }}"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1,
        "position": [
          -272,
          240
        ],
        "id": "eda19468-56bb-4045-8164-d1ed62368f6e",
        "name": "Crypto"
      },
      {
        "parameters": {
          "url": "=https://httpbin.dev/base64/encode/{{ encodeURIComponent($json.HMAC) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -96,
          240
        ],
        "id": "4fef089c-48c7-4318-8011-f0e37b44ecf3",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "22b3ebc9-54ae-4669-9b5b-5694dba9bf0a",
                "leftValue": "={{ $json.data }}",
                "rightValue": "={{ $('Webhook').item.json.headers['x-takealot-signature'] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          96,
          240
        ],
        "id": "338b9d66-9afb-4051-bbec-987527e8b7ec",
        "name": "Check HMAC"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"error\": \"Invalid signature error\" }",
          "options": {
            "responseCode": 404
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          304,
          384
        ],
        "id": "2566c594-f0e7-4492-a28d-2b1845f2b6c4",
        "name": "404 Failed Signature"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Seller Exists?": {
        "main": [
          [
            {
              "node": "Build Event Object",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "404 Unknown Seller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Event Object": {
        "main": [
          [
            {
              "node": "Check Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicate": {
        "main": [
          [
            {
              "node": "Is New?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is New?": {
        "main": [
          [
            {
              "node": "Insert Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "200 Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Event": {
        "main": [
          [
            {
              "node": "200 Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crypto": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Check HMAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check HMAC": {
        "main": [
          [
            {
              "node": "Seller Exists?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "404 Failed Signature",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "d945e70d-99db-4c9d-b3d6-ed808ce747c4",
    "activeVersionId": "bfdf7203-83da-407b-9ceb-e26f91ff0b1c",
    "versionCounter": 11,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-02-05T08:51:23.007Z",
        "createdAt": "2026-02-05T08:51:23.007Z",
        "role": "workflow:owner",
        "workflowId": "z7Ugu7bI7ddI5IzcxFHPR",
        "projectId": "A2rkQg960Oa5Tvrh",
        "project": {
          "updatedAt": "2025-12-31T14:13:45.374Z",
          "createdAt": "2025-12-31T14:10:14.084Z",
          "id": "A2rkQg960Oa5Tvrh",
          "name": "Mark Wilson <mark@tallypro.co.za>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
          "projectRelations": [
            {
              "updatedAt": "2025-12-31T14:10:14.084Z",
              "createdAt": "2025-12-31T14:10:14.084Z",
              "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
              "projectId": "A2rkQg960Oa5Tvrh",
              "user": {
                "updatedAt": "2026-02-05T07:36:10.000Z",
                "createdAt": "2025-12-31T14:10:08.854Z",
                "id": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
                "email": "mark@tallypro.co.za",
                "firstName": "Mark",
                "lastName": "Wilson",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-31T14:14:09.155Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "companyType": "personal",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "XYhKungDNJV46vQF",
                  "userActivatedAt": 1767342699529,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1768308412140
                  }
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-02-04",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-02-05T10:58:58.000Z",
      "createdAt": "2026-02-05T10:58:49.157Z",
      "versionId": "bfdf7203-83da-407b-9ceb-e26f91ff0b1c",
      "workflowId": "z7Ugu7bI7ddI5IzcxFHPR",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "takealot-webhook/:seller_id",
            "responseMode": "responseNode",
            "options": {
              "rawBody": true
            }
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            -1072,
            224
          ],
          "id": "95c0f315-629f-4e57-8e87-5d26e97cc665",
          "name": "Webhook",
          "webhookId": "takealot-state-machine"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "leftValue": "={{ $('Get row(s)').item.json.SellerID }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "string",
                    "operation": "exists",
                    "singleValue": true
                  },
                  "id": "cbafa4ed-cb82-4d5f-840b-e6a7c378d1c9"
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            448,
            224
          ],
          "id": "ff03c902-9783-4b81-ae56-5618d4998784",
          "name": "Seller Exists?"
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={ \"error\": \"Unknown seller\", \"seller_id\": \"{{ $('Webhook').item.json.params.seller_id }}\" }",
            "options": {
              "responseCode": 404
            }
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            752,
            320
          ],
          "id": "1d2bd8f9-0a53-4edb-b89b-7e71e4052cdd",
          "name": "404 Unknown Seller"
        },
        {
          "parameters": {
            "jsCode": "const webhook = $('Webhook').item.json;\nconst sale = webhook.body.sale;\nconst eventDate = webhook.body.event_timestamp_utc.split('T')[0];\n\nreturn {\n  json: {\n    idempotency_key: `${webhook.params.seller_id}_${sale.order_item_id}_${sale.sale_status_id}_${eventDate}`,\n    order_item_id: sale.order_item_id,\n    order_id: sale.order_id,\n    seller_id: webhook.params.seller_id,\n    sale_status_id: sale.sale_status_id,\n    sale_status: sale.sale_status,\n    sku: sale.sku,\n    tsin: sale.tsin,\n    product_title: sale.product_title,\n    quantity: sale.quantity,\n    selling_price: sale.selling_price,\n    customer: sale.customer,\n    warehouse: sale.warehouse,\n    warehouse_id: sale.warehouse_id || null,\n    event_timestamp_utc: webhook.body.event_timestamp_utc\n  }\n};"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            752,
            128
          ],
          "id": "696e0240-96d1-4e07-9cac-0a046972b84a",
          "name": "Build Event Object",
          "alwaysOutputData": false
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT id FROM order_events WHERE idempotency_key = '{{ $json.idempotency_key }}' LIMIT 1",
            "options": {
              "queryReplacement": "="
            }
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.4,
          "position": [
            976,
            128
          ],
          "id": "c0ca3962-3287-41d9-91e2-c4a28f02dfbf",
          "name": "Check Duplicate",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "dJUtvtCJ2ElIhHfT",
              "name": "Tallypro MySQL"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.isEmpty() }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  },
                  "id": "2eb3cbcf-3b9c-4117-b950-2af76fa27a07"
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1168,
            128
          ],
          "id": "01f3395b-bff7-47e9-94f3-9ecf0e93a285",
          "name": "Is New?"
        },
        {
          "parameters": {
            "table": "order_events",
            "dataMode": "defineBelow",
            "valuesToSend": {
              "values": [
                {
                  "column": "idempotency_key",
                  "value": "={{ $('Build Event Object').item.json.idempotency_key }}"
                },
                {
                  "column": "order_item_id",
                  "value": "={{ $('Build Event Object').item.json.order_item_id }}"
                },
                {
                  "column": "order_id",
                  "value": "={{ $('Build Event Object').item.json.order_id }}"
                },
                {
                  "column": "seller_id",
                  "value": "={{ $('Build Event Object').item.json.seller_id }}"
                },
                {
                  "column": "sale_status_id",
                  "value": "={{ $('Build Event Object').item.json.sale_status_id }}"
                },
                {
                  "column": "sale_status",
                  "value": "={{ $('Build Event Object').item.json.sale_status }}"
                },
                {
                  "column": "sku",
                  "value": "={{ $('Build Event Object').item.json.sku }}"
                },
                {
                  "column": "tsin",
                  "value": "={{ $('Build Event Object').item.json.tsin }}"
                },
                {
                  "column": "product_title",
                  "value": "={{ $('Build Event Object').item.json.product_title }}"
                },
                {
                  "column": "quantity",
                  "value": "={{ $('Build Event Object').item.json.quantity }}"
                },
                {
                  "column": "selling_price",
                  "value": "={{ $('Build Event Object').item.json.selling_price }}"
                },
                {
                  "column": "customer",
                  "value": "={{ $('Build Event Object').item.json.customer }}"
                },
                {
                  "column": "warehouse",
                  "value": "={{ $('Build Event Object').item.json.warehouse }}"
                },
                {
                  "column": "warehouse_id",
                  "value": "={{ $('Build Event Object').item.json.warehouse_id }}"
                },
                {
                  "column": "event_timestamp_utc",
                  "value": "={{ $('Build Event Object').item.json.event_timestamp_utc }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.4,
          "position": [
            1392,
            0
          ],
          "id": "665a37b5-4c97-43b5-9498-79eb078fddd5",
          "name": "Insert Event",
          "credentials": {
            "mySql": {
              "id": "dJUtvtCJ2ElIhHfT",
              "name": "Tallypro MySQL"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={ \"status\": \"accepted\", \"idempotency_key\": \"{{ $('Build Event Object').item.json.idempotency_key }}\" }",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            1616,
            0
          ],
          "id": "9bacf46e-0302-413f-93e0-6e377be7bd31",
          "name": "200 Accepted"
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={ \"status\": \"duplicate\", \"idempotency_key\": \"{{ $('Build Event Object').item.json.idempotency_key }}\" }",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            1392,
            240
          ],
          "id": "5383bce7-69c3-428c-93ff-37ae9a8750c2",
          "name": "200 Duplicate"
        },
        {
          "parameters": {
            "operation": "get",
            "dataTableId": {
              "__rl": true,
              "value": "P2idoCVDSQnCITNY",
              "mode": "list",
              "cachedResultName": "zoho_info",
              "cachedResultUrl": "/projects/A2rkQg960Oa5Tvrh/datatables/P2idoCVDSQnCITNY"
            },
            "matchType": "allConditions",
            "filters": {
              "conditions": [
                {
                  "keyName": "SellerID",
                  "keyValue": "={{ $json.params.seller_id }}"
                },
                {
                  "keyName": "active",
                  "condition": "isTrue"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.dataTable",
          "typeVersion": 1.1,
          "position": [
            -752,
            224
          ],
          "id": "09485e1a-7b9e-4670-b0e3-566780f7392c",
          "name": "Get row(s)",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=z7Ugu7bI7ddI5IzcxFHPR) to commit change to GitHub",
            "height": 140,
            "width": 424,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -1072,
            64
          ],
          "typeVersion": 1,
          "id": "555ff80b-3b07-48e4-a615-bbbaa356cef5",
          "name": "Sticky Note"
        },
        {
          "parameters": {
            "mode": "raw",
            "jsonOutput": "={{ { \"data\": \"https://n8n.tallypro.co.za/webhook/fa329524-5a4e-4fab-a636-cfcd3b496f4b/\" + $('Webhook').item.json.params.seller_id + JSON.stringify($('Webhook').item.json.body).split('\":').join('\": ').split(',\"').join(', \"').split(':{').join(': {').split('},').join('},') } }}",
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -848,
            368
          ],
          "id": "f1164780-a480-48e0-81a5-041ad137bb49",
          "name": "Edit Fields"
        },
        {
          "parameters": {
            "operation": "toText",
            "sourceProperty": "=data",
            "options": {}
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            -640,
            368
          ],
          "id": "1a1ba40c-b195-499d-935e-b75f7a80e193",
          "name": "Convert to File"
        },
        {
          "parameters": {
            "mode": "combine",
            "combineBy": "combineByPosition",
            "options": {}
          },
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3.2,
          "position": [
            -448,
            240
          ],
          "id": "fad80ef1-7e4c-4b43-b619-608cd3f1843b",
          "name": "Merge"
        },
        {
          "parameters": {
            "action": "hmac",
            "binaryData": true,
            "binaryPropertyName": "={{ $('Merge').item.binary.data }}",
            "type": "SHA256",
            "dataPropertyName": "HMAC",
            "secret": "={{ $json.takealot_webhook_secret }}"
          },
          "type": "n8n-nodes-base.crypto",
          "typeVersion": 1,
          "position": [
            -272,
            240
          ],
          "id": "eda19468-56bb-4045-8164-d1ed62368f6e",
          "name": "Crypto"
        },
        {
          "parameters": {
            "url": "=https://httpbin.dev/base64/encode/{{ encodeURIComponent($json.HMAC) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            -96,
            240
          ],
          "id": "4fef089c-48c7-4318-8011-f0e37b44ecf3",
          "name": "HTTP Request"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "22b3ebc9-54ae-4669-9b5b-5694dba9bf0a",
                  "leftValue": "={{ $json.data }}",
                  "rightValue": "={{ $('Webhook').item.json.headers['x-takealot-signature'] }}",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            96,
            240
          ],
          "id": "338b9d66-9afb-4051-bbec-987527e8b7ec",
          "name": "Check HMAC"
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={ \"error\": \"Invalid\", \"Signature Error\" }",
            "options": {
              "responseCode": 404
            }
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            304,
            384
          ],
          "id": "2566c594-f0e7-4492-a28d-2b1845f2b6c4",
          "name": "404 Failed Signature"
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Get row(s)",
                "type": "main",
                "index": 0
              },
              {
                "node": "Edit Fields",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Seller Exists?": {
          "main": [
            [
              {
                "node": "Build Event Object",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "404 Unknown Seller",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build Event Object": {
          "main": [
            [
              {
                "node": "Check Duplicate",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check Duplicate": {
          "main": [
            [
              {
                "node": "Is New?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Is New?": {
          "main": [
            [
              {
                "node": "Insert Event",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "200 Duplicate",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Insert Event": {
          "main": [
            [
              {
                "node": "200 Accepted",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get row(s)": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields": {
          "main": [
            [
              {
                "node": "Convert to File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to File": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "Crypto",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Crypto": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Check HMAC",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check HMAC": {
          "main": [
            [
              {
                "node": "Seller Exists?",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "404 Failed Signature",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Mark Wilson",
      "name": "Version bfdf7203",
      "description": "Added HMAC",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-02-05T10:58:58.512Z",
          "id": 59,
          "workflowId": "z7Ugu7bI7ddI5IzcxFHPR",
          "versionId": "bfdf7203-83da-407b-9ceb-e26f91ff0b1c",
          "event": "activated",
          "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89"
        }
      ]
    }
  }
]