Chron: PIM - Bundles update-VnscLhvkR9nkX6VN.json
[
  {
    "updatedAt": "2026-02-20T10:16:21.062Z",
    "createdAt": "2026-02-17T14:58:34.190Z",
    "id": "VnscLhvkR9nkX6VN",
    "name": "Chron: PIM - Bundles update",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -640,
          -176
        ],
        "id": "f89a8498-35ce-4ff1-9baa-e89d3cc5e66b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "where",
                "value": "((updated>last_bundle_check OR last_bundle_check IS NULL) AND automation_enabled=true AND product_type IN ('simple', 'variant'))"
              },
              {
                "name": "pageSize",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -416,
          -176
        ],
        "id": "a718d5b3-7755-4c25-a3c7-99cd8a51cdf3",
        "name": "Get changed SKUs"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_product_components",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "=where",
                "value": "={{ \n$json.sku && $json.sku.length \n  ? \"component_sku IN (\" + $json.sku.map(s => \"'\" + s + \"'\").join(\",\") + \")\"\n  : \"1=0\"\n}}\n\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          256,
          -176
        ],
        "id": "4ad20bb3-f238-43a0-a00d-522f6649f61d",
        "name": "Find affected bundles"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "sku"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -208,
          -176
        ],
        "id": "bf17a2ac-879e-4c7b-897f-b7612408c167",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_product_components",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "=where",
                "value": "=parent_sku={{ $json.parent_sku }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1024,
          -160
        ],
        "id": "cdaa80a9-baec-4caa-865a-644a66c8b135",
        "name": "Find bundle components"
      },
      {
        "parameters": {
          "content": "Get all changed SKUs",
          "height": 288,
          "width": 608
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -464,
          -256
        ],
        "typeVersion": 1,
        "id": "85e010c3-16f4-456e-8019-3f9a121f98ad",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "Get all bundles that contain changed SKUs",
          "height": 288,
          "width": 464,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          -256
        ],
        "typeVersion": 1,
        "id": "9f3d8352-ba7a-4851-98fc-06ba43b7ce5d",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "Get all SKUs in affected bundles",
          "height": 288,
          "width": 592,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          -256
        ],
        "typeVersion": 1,
        "id": "acb186f5-1147-4f35-8f83-b07a4ad0992b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "parent_sku",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          448,
          -176
        ],
        "id": "5c16567f-8f66-4b4f-be30-9517ed8e0d7c",
        "name": "Remove Duplicate Bundles"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          768,
          -176
        ],
        "id": "2f129565-846d-45fb-9f06-02a01961e622",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "where",
                "value": "={{\n  \"sku IN (\" +\n  ($json.component_sku || [])\n    .map(s => \"'\" + s + \"'\")\n    .join(\",\") +\n  \")\"\n}}\n\n\n\n"
              },
              {
                "name": "pageSize",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1392,
          -160
        ],
        "id": "45a231ee-3477-4bce-8f9a-6e70c8aa1e7b",
        "name": "Get full product"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "component_sku"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1200,
          -160
        ],
        "id": "7c2ab657-59e4-4b18-8ad2-933b57012ccd",
        "name": "Collapse list"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "min",
                "field": "sellable"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          1664,
          -160
        ],
        "id": "1414661f-5dd7-464a-933b-e31e09a63ebe",
        "name": "Summarize"
      },
      {
        "parameters": {
          "content": "Evaluate saleability of bundle",
          "height": 288,
          "width": 224,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1600,
          -256
        ],
        "typeVersion": 1,
        "id": "1d9128ca-402d-4806-9d72-03d4a9c90cf7",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "59d2bd1a-b55c-4f16-9513-771fcf685240",
                "leftValue": "={{$json.sku.length}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          -176
        ],
        "id": "259f2039-e3ea-4174-8d15-668b59cb4a92",
        "name": "Anything to process?"
      },
      {
        "parameters": {
          "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=VnscLhvkR9nkX6VN) to commit change ",
          "height": 140,
          "width": 408,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -640,
          -416
        ],
        "typeVersion": 1,
        "id": "265806e2-cb06-4463-897a-0c96e26dd302",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "objectId",
                "value": "={{ $('Get changed SKUs').first().json.objectId }}"
              },
              {
                "name": "last_bundle_check",
                "value": "={{ Date.now() + 3000 }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2384,
          16
        ],
        "id": "e812ec20-eaef-4575-8bfb-0ce5df7f576d",
        "name": "Log Bundle Check"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "where",
                "value": "=sku={{ $('Find affected bundles').item.json.parent_sku }}"
              },
              {
                "name": "pageSize",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1952,
          -160
        ],
        "id": "7940238b-d139-4460-aa50-0e2f7796d331",
        "name": "Get bundle ID"
      },
      {
        "parameters": {
          "content": "Set Bundle status",
          "height": 288,
          "width": 464,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1888,
          -256
        ],
        "typeVersion": 1,
        "id": "2f798ab9-e595-4487-b01a-48220f4cdadb",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "objectId",
                "value": "={{ $json.objectId }}"
              },
              {
                "name": "sellable",
                "value": "={{ $('Summarize').item.json.min_sellable }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2160,
          -160
        ],
        "id": "98050783-c8b1-44f5-aa75-c6b5f6357b77",
        "name": "Update bundle status"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get changed SKUs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get changed SKUs": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find affected bundles": {
        "main": [
          [
            {
              "node": "Remove Duplicate Bundles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Anything to process?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find bundle components": {
        "main": [
          [
            {
              "node": "Collapse list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicate Bundles": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Find bundle components",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collapse list": {
        "main": [
          [
            {
              "node": "Get full product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get full product": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Get bundle ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anything to process?": {
        "main": [
          [
            {
              "node": "Find affected bundles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Bundle Check": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get bundle ID": {
        "main": [
          [
            {
              "node": "Update bundle status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update bundle status": {
        "main": [
          [
            {
              "node": "Log Bundle Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "ded1d460-21ae-4ddf-ab01-e0dd4319175d",
    "activeVersionId": null,
    "versionCounter": 654,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-02-17T14:58:34.242Z",
        "createdAt": "2026-02-17T14:58:34.242Z",
        "role": "workflow:owner",
        "workflowId": "VnscLhvkR9nkX6VN",
        "projectId": "A2rkQg960Oa5Tvrh",
        "project": {
          "updatedAt": "2025-12-31T14:13:45.374Z",
          "createdAt": "2025-12-31T14:10:14.084Z",
          "id": "A2rkQg960Oa5Tvrh",
          "name": "Mark Wilson <mark@tallypro.co.za>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
          "projectRelations": [
            {
              "updatedAt": "2025-12-31T14:10:14.084Z",
              "createdAt": "2025-12-31T14:10:14.084Z",
              "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
              "projectId": "A2rkQg960Oa5Tvrh",
              "user": {
                "updatedAt": "2026-02-20T06:21:30.000Z",
                "createdAt": "2025-12-31T14:10:08.854Z",
                "id": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
                "email": "mark@tallypro.co.za",
                "firstName": "Mark",
                "lastName": "Wilson",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-31T14:14:09.155Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "companyType": "personal",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "XYhKungDNJV46vQF",
                  "userActivatedAt": 1767342699529,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1768308412140
                  }
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-02-19",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "activeVersion": null
  }
]