Chron: PIM - Bundles update-VnscLhvkR9nkX6VN.json
[
  {
    "updatedAt": "2026-02-19T12:32:52.185Z",
    "createdAt": "2026-02-17T14:58:34.190Z",
    "id": "VnscLhvkR9nkX6VN",
    "name": "Chron: PIM - Bundles update",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1008,
          -176
        ],
        "id": "f89a8498-35ce-4ff1-9baa-e89d3cc5e66b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "where",
                "value": "((updated>last_bundle_check OR last_bundle_check IS NULL) AND automation_enabled=true AND product_type IN ('simple', 'variant'))"
              },
              {
                "name": "pageSize",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -784,
          -176
        ],
        "id": "a718d5b3-7755-4c25-a3c7-99cd8a51cdf3",
        "name": "Get changed SKUs"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_product_components",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "=where",
                "value": "={{ \n$json.sku && $json.sku.length \n  ? \"component_sku IN (\" + $json.sku.map(s => \"'\" + s + \"'\").join(\",\") + \")\"\n  : \"1=0\"\n}}\n\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -112,
          -176
        ],
        "id": "4ad20bb3-f238-43a0-a00d-522f6649f61d",
        "name": "Find affected bundles"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "sku"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -576,
          -176
        ],
        "id": "bf17a2ac-879e-4c7b-897f-b7612408c167",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_product_components",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "=where",
                "value": "=parent_sku={{ $('Get bundle woo ID').item.json.sku }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1024,
          -176
        ],
        "id": "cdaa80a9-baec-4caa-865a-644a66c8b135",
        "name": "Find bundle components"
      },
      {
        "parameters": {
          "content": "Get all changed SKUs",
          "height": 288,
          "width": 608
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -832,
          -256
        ],
        "typeVersion": 1,
        "id": "85e010c3-16f4-456e-8019-3f9a121f98ad",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "Get all bundles that contain changed SKUs",
          "height": 288,
          "width": 800,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          -256
        ],
        "typeVersion": 1,
        "id": "9f3d8352-ba7a-4851-98fc-06ba43b7ce5d",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "Get all SKUs in affected bundles",
          "height": 288,
          "width": 592,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          -256
        ],
        "typeVersion": 1,
        "id": "acb186f5-1147-4f35-8f83-b07a4ad0992b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "parent_sku",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          80,
          -176
        ],
        "id": "5c16567f-8f66-4b4f-be30-9517ed8e0d7c",
        "name": "Remove Duplicate Bundles"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          752,
          -176
        ],
        "id": "2f129565-846d-45fb-9f06-02a01961e622",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "where",
                "value": "={{\n  \"sku IN (\" +\n  ($json.component_sku || [])\n    .map(s => \"'\" + s + \"'\")\n    .join(\",\") +\n  \")\"\n}}\n\n\n\n"
              },
              {
                "name": "pageSize",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1392,
          -176
        ],
        "id": "45a231ee-3477-4bce-8f9a-6e70c8aa1e7b",
        "name": "Get full product"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "component_sku"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1200,
          -176
        ],
        "id": "7c2ab657-59e4-4b18-8ad2-933b57012ccd",
        "name": "Collapse list"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "min",
                "field": "sellable"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          1632,
          -176
        ],
        "id": "1414661f-5dd7-464a-933b-e31e09a63ebe",
        "name": "Summarize"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "487d3f14-7799-4667-b5f2-b44b61adbdbd",
                "leftValue": "={{ $json.min_sellable }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1808,
          -176
        ],
        "id": "584d2105-d34b-4865-aecf-5d890c437901",
        "name": "Is Bundle Sellable?"
      },
      {
        "parameters": {
          "content": "Evaluate saleability of bundle",
          "height": 288,
          "width": 640,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1600,
          -256
        ],
        "typeVersion": 1,
        "id": "1d9128ca-402d-4806-9d72-03d4a9c90cf7",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5fe4af5b-3c9b-48ea-9865-240b5d70aefc",
                "name": "status",
                "value": "=published",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2096,
          -240
        ],
        "id": "54b3c884-f03a-4518-835b-dca28ebc054f",
        "name": "Sellable is true"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5fe4af5b-3c9b-48ea-9865-240b5d70aefc",
                "name": "status",
                "value": "=draft",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2096,
          -96
        ],
        "id": "db9f75d7-3de6-4589-8372-f19e95c80f7d",
        "name": "Sellable is false"
      },
      {
        "parameters": {
          "url": "https://devoutaftermath.backendless.app/api/data/pim_channel_listings",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "where",
                "value": "=sku={{ $json.parent_sku }} AND channel='woo'\n\n\n\n"
              },
              {
                "name": "pageSize",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          272,
          -176
        ],
        "id": "a3d30999-9805-49b5-a5f6-446b051a9f31",
        "name": "Get bundle woo ID"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ccc87eac-ceb0-456b-a29c-875ac181eb79",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "7bb8978d-b052-4697-8927-0ffa26ad8df7",
                "name": "id",
                "value": "={{ $('Get bundle woo ID').first().json.channel_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2352,
          -176
        ],
        "id": "4a5842eb-294b-42e6-b727-d2c583f6148c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "59d2bd1a-b55c-4f16-9513-771fcf685240",
                "leftValue": "={{$json.sku.length}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -368,
          -176
        ],
        "id": "259f2039-e3ea-4174-8d15-668b59cb4a92",
        "name": "Anything to process?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "29b0819f-1404-4957-825a-e425408a833d",
                "leftValue": "={{ $json.isNotEmpty()}}",
                "rightValue": 0,
                "operator": {
                  "type": "boolean",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          464,
          -176
        ],
        "id": "b008a8d1-7426-464a-848e-2937f9422fdb",
        "name": "SKU is in Woo?"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "https://devoutaftermath.backendless.app/api/data/pim_products",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "objectId",
                "value": "={{ $('Get changed SKUs').first().json.objectId }}"
              },
              {
                "name": "last_bundle_check",
                "value": "={{ Date.now() }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2608,
          -80
        ],
        "id": "e812ec20-eaef-4575-8bfb-0ce5df7f576d",
        "name": "Update sellable and time"
      },
      {
        "parameters": {
          "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=VnscLhvkR9nkX6VN) to commit change ",
          "height": 140,
          "width": 408,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1008,
          -416
        ],
        "typeVersion": 1,
        "id": "265806e2-cb06-4463-897a-0c96e26dd302",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get changed SKUs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get changed SKUs": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find affected bundles": {
        "main": [
          [
            {
              "node": "Remove Duplicate Bundles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Anything to process?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find bundle components": {
        "main": [
          [
            {
              "node": "Collapse list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicate Bundles": {
        "main": [
          [
            {
              "node": "Get bundle woo ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Find bundle components",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collapse list": {
        "main": [
          [
            {
              "node": "Get full product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get full product": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Is Bundle Sellable?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Bundle Sellable?": {
        "main": [
          [
            {
              "node": "Sellable is true",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sellable is false",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sellable is true": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sellable is false": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get bundle woo ID": {
        "main": [
          [
            {
              "node": "SKU is in Woo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Update sellable and time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anything to process?": {
        "main": [
          [
            {
              "node": "Find affected bundles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SKU is in Woo?": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update sellable and time": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "6a4a00d8-14c2-4232-8238-636edd36aacc",
    "activeVersionId": null,
    "versionCounter": 564,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-02-17T14:58:34.242Z",
        "createdAt": "2026-02-17T14:58:34.242Z",
        "role": "workflow:owner",
        "workflowId": "VnscLhvkR9nkX6VN",
        "projectId": "A2rkQg960Oa5Tvrh",
        "project": {
          "updatedAt": "2025-12-31T14:13:45.374Z",
          "createdAt": "2025-12-31T14:10:14.084Z",
          "id": "A2rkQg960Oa5Tvrh",
          "name": "Mark Wilson <mark@tallypro.co.za>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
          "projectRelations": [
            {
              "updatedAt": "2025-12-31T14:10:14.084Z",
              "createdAt": "2025-12-31T14:10:14.084Z",
              "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
              "projectId": "A2rkQg960Oa5Tvrh",
              "user": {
                "updatedAt": "2026-02-19T06:45:33.000Z",
                "createdAt": "2025-12-31T14:10:08.854Z",
                "id": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
                "email": "mark@tallypro.co.za",
                "firstName": "Mark",
                "lastName": "Wilson",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-31T14:14:09.155Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "companyType": "personal",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "XYhKungDNJV46vQF",
                  "userActivatedAt": 1767342699529,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1768308412140
                  }
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-02-18",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "activeVersion": null
  }
]