Sub - Process Preparing (Status 2)-2K81Hbg5OdfWp_lvno5ro.json
[
  {
    "updatedAt": "2026-02-12T06:40:32.291Z",
    "createdAt": "2026-02-05T14:45:20.125Z",
    "id": "2K81Hbg5OdfWp_lvno5ro",
    "name": "Sub - Process Preparing (Status 2)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1776,
          -160
        ],
        "id": "62e92944-719a-41bc-ac0c-8c6ded82f6db",
        "name": "Called by Parent"
      },
      {
        "parameters": {
          "jsCode": "const event = $('Called by Parent').item.json;\nconst config = $('Get Seller Config').first().json;\nconst item = $('Get Item ID from SKU').first().json.items[0];\n\n\nconst eventDate = new Date(event.event_timestamp_utc)\n  .toISOString()\n  .split('T')[0];\n\nconst refNumber = `${event.order_item_id}(Order: ${event.order_id})`;\n\nreturn {\n  json: {\n    customer_id: config.CustomerID,\n    date: eventDate,\n    salesorder_number: refNumber,\n    reference_number: refNumber,\n    is_inclusive_tax: true,\n    location_id: config.ParentLocationID,\n    notes: `Customer name: ${event.customer}`,\n    line_items: [{\n      item_id: item.item_id,\n      name: event.product_title,\n      rate: event.selling_price / event.quantity,\n      quantity: event.quantity,\n      tax_id: config.TaxID,\n      item_total: event.selling_price,\n      location_id: config.LocationID\n    }]\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          -80
        ],
        "id": "4a2fc3e7-dfc6-41a0-88f0-ed974cb96efa",
        "name": "Build SO Payload"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.zohoapis.com/inventory/v1/salesorders",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          80,
          -80
        ],
        "id": "b56cd356-56e2-49f4-b4bb-ca5abdfa1b5e",
        "name": "Create Sales Order"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "salesorder_id",
                "value": "={{ $json.salesorder?.salesorder_id || $('Get Current State').first().json[0]?.zoho_salesorder_id }}",
                "type": "string"
              },
              {
                "name": "salesorder_number",
                "value": "={{ $json.salesorder?.salesorder_number || $('Get Current State').first().json[0]?.zoho_salesorder_number }}",
                "type": "string"
              },
              {
                "name": "status",
                "value": "={{ $json.salesorder?.status || 'existing' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          -160
        ],
        "id": "e87e7c65-f5a5-4595-a75f-4690732da92f",
        "name": "Merge SO Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.status }}",
                "rightValue": "draft",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "c7ab739b-587f-4ff2-b980-0d05b89279ed"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          672,
          -160
        ],
        "id": "bb39ac41-1f9a-498d-a473-60613ea92374",
        "name": "Needs Confirm?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.zohoapis.com/inventory/v1/salesorders/{{ $json.salesorder_id }}/status/confirmed",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          896,
          -224
        ],
        "id": "d3865abc-6de3-496c-84c0-a0e12d293fa7",
        "name": "Confirm SO"
      },
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/inventory/v1/salesorders/{{ $('Merge SO Data').first().json.salesorder_id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1120,
          -160
        ],
        "id": "8ad4a44b-dc60-41de-b8df-c91dd0e67120",
        "name": "Get SO Details"
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.salesorder?.packages?.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1344,
          -160
        ],
        "id": "ba25f9b3-e4fa-44fe-9444-24ae3de68543",
        "name": "Needs Package?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.zohoapis.com/inventory/v1/packages",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
              },
              {
                "name": "salesorder_id",
                "value": "={{ $('Merge SO Data').first().json.salesorder_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"package_number\": \"{{ $('Merge SO Data').first().json.salesorder_number }}\",\n  \"date\": \"{{ $json.salesorder.date }}\",\n  \"line_items\": [{\n    \"so_line_item_id\": \"{{ $json.salesorder.line_items[0].line_item_id }}\",\n    \"quantity\": {{ $json.salesorder.line_items[0].quantity }}\n  }]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1568,
          -224
        ],
        "id": "65b58cc7-333f-4331-be3d-2ac8656edad9",
        "name": "Create Package"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "package_id",
                "value": "={{ $json.package?.package_id || $('Get SO Details').first().json.salesorder?.packages?.[0]?.package_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          -160
        ],
        "id": "8006b04e-3042-4333-bb5d-868b9e2cf62d",
        "name": "Merge Package Data"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO order_state (order_item_id, order_id, seller_id, current_stage, zoho_salesorder_id, zoho_salesorder_number, zoho_salesorder_status, zoho_package_id, packaged_at)\nVALUES ({{ $('Called by Parent').item.json.order_item_id }}, {{ $('Called by Parent').item.json.order_id }}, '{{ $('Called by Parent').item.json.seller_id }}', 'packaged', '{{ $('Merge SO Data').first().json.salesorder_id }}', '{{ $('Merge SO Data').first().json.salesorder_number }}', 'confirmed', '{{ $json.package_id }}', NOW())\nON DUPLICATE KEY UPDATE\n  current_stage = 'packaged',\n  zoho_salesorder_id = VALUES(zoho_salesorder_id),\n  zoho_salesorder_number = VALUES(zoho_salesorder_number),\n  zoho_salesorder_status = 'confirmed',\n  zoho_package_id = VALUES(zoho_package_id),\n  packaged_at = NOW()",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          2016,
          -160
        ],
        "id": "8c8fabed-253c-4054-96d0-61d7637a3c8d",
        "name": "Update Order State",
        "credentials": {
          "mySql": {
            "id": "dJUtvtCJ2ElIhHfT",
            "name": "Tallypro MySQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO processing_log (event_id, order_item_id, seller_id, execution_id, workflow_name, stage, status, message)\nVALUES ({{ $('Called by Parent').item.json.id }}, {{ $('Called by Parent').item.json.order_item_id }}, '{{ $('Called by Parent').item.json.seller_id }}', '{{ $execution.id }}', 'Process Preparing', 'packaged', 'success', 'Created SO {{ $('Merge SO Data').first().json.salesorder_id }} and Package {{ $('Merge Package Data').first().json.package_id }}')",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          2240,
          -160
        ],
        "id": "dd0794f8-13f4-4bfb-af9d-7337e55e60d5",
        "name": "Log Success",
        "credentials": {
          "mySql": {
            "id": "dJUtvtCJ2ElIhHfT",
            "name": "Tallypro MySQL"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.zohoapis.com/inventory/v1/salesorders",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get Seller Config').item.json.OrganizationID }}"
              },
              {
                "name": "salesorder_number",
                "value": "={{ $('Called by Parent').item.json.order_item_id }}(Order: {{ $('Called by Parent').item.json.order_id }})"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -672,
          -160
        ],
        "id": "83c53030-cde2-4098-b3cb-e533498baf32",
        "name": "Check for Existing SO"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://accounts.zoho.com/oauth/v2/token",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1328,
          -160
        ],
        "id": "b0f0cbb1-bf46-42a8-974a-38ab14d29e8f",
        "name": "Get Zoho Access Token",
        "credentials": {
          "httpCustomAuth": {
            "id": "9SvOEsYF9SjtHbhQ",
            "name": "Zoho_Access_Token"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.zohoapis.com/inventory/v1/items",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get Seller Config').item.json.OrganizationID }}"
              },
              {
                "name": "search_text",
                "value": "={{ $('Called by Parent').item.json.sku.substring(0, 4) }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1104,
          -160
        ],
        "id": "8e822390-75bb-4a17-b61a-dcdaa35b3ae1",
        "name": "Get Item ID from SKU"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM order_state WHERE order_item_id = '{{ $('Called by Parent').item.json.order_item_id }}' LIMIT 1",
          "options": {
            "queryReplacement": "="
          }
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -880,
          -160
        ],
        "id": "e8e20c6a-faa8-4ea3-b691-17aeb878170a",
        "name": "Get Current State",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "dJUtvtCJ2ElIhHfT",
            "name": "Tallypro MySQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "P2idoCVDSQnCITNY",
            "mode": "list",
            "cachedResultName": "zoho_info",
            "cachedResultUrl": "/projects/A2rkQg960Oa5Tvrh/datatables/P2idoCVDSQnCITNY"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "SellerID",
                "keyValue": "={{ $json.seller_id }}"
              },
              {
                "keyName": "active",
                "condition": "isTrue"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -1552,
          -160
        ],
        "id": "b982aadb-62aa-4d8a-9a7c-031e3b8d382b",
        "name": "Get Seller Config"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e5eb83b5-8333-475a-8184-ddc2d334528d",
                "leftValue": "={{ $json.body.salesorders.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -432,
          -160
        ],
        "id": "d17ac915-a787-42f9-947a-0f063377b632",
        "name": "SO Exists?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2e6e353e-3bf2-4a28-b9ad-7df551f9fc1c",
                "name": "salesorder",
                "value": "={{ $json.body.salesorders[0] }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -160,
          -224
        ],
        "id": "2a891487-4d77-4758-b303-de7d343f812c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=2K81Hbg5OdfWp_lvno5ro) to commit change ",
          "height": 140,
          "width": 408,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1776,
          -352
        ],
        "typeVersion": 1,
        "id": "c2ad0bb3-6754-4653-b250-3e42828b06ee",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Called by Parent": {
        "main": [
          [
            {
              "node": "Get Seller Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build SO Payload": {
        "main": [
          [
            {
              "node": "Create Sales Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Sales Order": {
        "main": [
          [
            {
              "node": "Merge SO Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge SO Data": {
        "main": [
          [
            {
              "node": "Needs Confirm?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Confirm?": {
        "main": [
          [
            {
              "node": "Confirm SO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get SO Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirm SO": {
        "main": [
          [
            {
              "node": "Get SO Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get SO Details": {
        "main": [
          [
            {
              "node": "Needs Package?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Package?": {
        "main": [
          [
            {
              "node": "Create Package",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Package Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Package": {
        "main": [
          [
            {
              "node": "Merge Package Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Package Data": {
        "main": [
          [
            {
              "node": "Update Order State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Order State": {
        "main": [
          [
            {
              "node": "Log Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Existing SO": {
        "main": [
          [
            {
              "node": "SO Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Zoho Access Token": {
        "main": [
          [
            {
              "node": "Get Item ID from SKU",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Item ID from SKU": {
        "main": [
          [
            {
              "node": "Get Current State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Current State": {
        "main": [
          [
            {
              "node": "Check for Existing SO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Seller Config": {
        "main": [
          [
            {
              "node": "Get Zoho Access Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SO Exists?": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build SO Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge SO Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Called by Parent": [
        {
          "json": {
            "id": 104,
            "idempotency_key": "11932_398288575_2_2026-02-11 10:56:15_synthetic",
            "order_item_id": 398288575,
            "order_id": 203627650,
            "seller_id": "11932",
            "sale_status_id": 2,
            "sale_status": "Preparing for Customer (Synthetic)",
            "sku": "0348Ax001",
            "tsin": "91422950",
            "product_title": "SWAT-OPS Pepper Spray 45ml Direct Stream",
            "quantity": 3,
            "selling_price": "897.00",
            "customer": "Jose Luis Bobes",
            "warehouse": "JHB",
            "warehouse_id": null,
            "event_timestamp_utc": "2026-02-11 10:56:13",
            "received_at": "2026-02-11 14:10:13",
            "status": "pending",
            "locked_at": null,
            "locked_by": null,
            "attempt_count": 0,
            "max_attempts": 5,
            "last_attempt_at": null,
            "next_retry_at": null,
            "last_error": null,
            "is_synthetic": 1,
            "synthesis_reason": "Missing webhook - synthesized from status 3 event",
            "source_event_id": 94,
            "completed_at": "2026-02-11 14:20:15",
            "processing_duration_ms": null,
            "current_stage": null,
            "zoho_salesorder_id": null,
            "zoho_package_id": null,
            "zoho_shipment_id": null,
            "zoho_invoice_id": null,
            "prerequisitesMet": true,
            "missingStatus": null,
            "needsSynthesis": false,
            "targetStage": "packaged"
          },
          "pairedItem": {
            "item": 0
          }
        }
      ]
    },
    "versionId": "738909bd-8e6b-4487-9b95-3ba60b712e70",
    "activeVersionId": "738909bd-8e6b-4487-9b95-3ba60b712e70",
    "versionCounter": 48,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-02-05T14:45:20.132Z",
        "createdAt": "2026-02-05T14:45:20.132Z",
        "role": "workflow:owner",
        "workflowId": "2K81Hbg5OdfWp_lvno5ro",
        "projectId": "A2rkQg960Oa5Tvrh",
        "project": {
          "updatedAt": "2025-12-31T14:13:45.374Z",
          "createdAt": "2025-12-31T14:10:14.084Z",
          "id": "A2rkQg960Oa5Tvrh",
          "name": "Mark Wilson <mark@tallypro.co.za>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
          "projectRelations": [
            {
              "updatedAt": "2025-12-31T14:10:14.084Z",
              "createdAt": "2025-12-31T14:10:14.084Z",
              "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
              "projectId": "A2rkQg960Oa5Tvrh",
              "user": {
                "updatedAt": "2026-02-12T06:36:42.000Z",
                "createdAt": "2025-12-31T14:10:08.854Z",
                "id": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
                "email": "mark@tallypro.co.za",
                "firstName": "Mark",
                "lastName": "Wilson",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-31T14:14:09.155Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "companyType": "personal",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "XYhKungDNJV46vQF",
                  "userActivatedAt": 1767342699529,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1768308412140
                  }
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-02-11",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-02-12T06:40:37.000Z",
      "createdAt": "2026-02-12T06:40:32.292Z",
      "versionId": "738909bd-8e6b-4487-9b95-3ba60b712e70",
      "workflowId": "2K81Hbg5OdfWp_lvno5ro",
      "nodes": [
        {
          "parameters": {
            "inputSource": "passthrough"
          },
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "typeVersion": 1.1,
          "position": [
            -1776,
            -160
          ],
          "id": "62e92944-719a-41bc-ac0c-8c6ded82f6db",
          "name": "Called by Parent"
        },
        {
          "parameters": {
            "jsCode": "const event = $('Called by Parent').item.json;\nconst config = $('Get Seller Config').first().json;\nconst item = $('Get Item ID from SKU').first().json.items[0];\n\n\nconst eventDate = new Date(event.event_timestamp_utc)\n  .toISOString()\n  .split('T')[0];\n\nconst refNumber = `${event.order_item_id}(Order: ${event.order_id})`;\n\nreturn {\n  json: {\n    customer_id: config.CustomerID,\n    date: eventDate,\n    salesorder_number: refNumber,\n    reference_number: refNumber,\n    is_inclusive_tax: true,\n    location_id: config.ParentLocationID,\n    notes: `Customer name: ${event.customer}`,\n    line_items: [{\n      item_id: item.item_id,\n      name: event.product_title,\n      rate: event.selling_price / event.quantity,\n      quantity: event.quantity,\n      tax_id: config.TaxID,\n      item_total: event.selling_price,\n      location_id: config.LocationID\n    }]\n  }\n};"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -160,
            -80
          ],
          "id": "4a2fc3e7-dfc6-41a0-88f0-ed974cb96efa",
          "name": "Build SO Payload"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://www.zohoapis.com/inventory/v1/salesorders",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ JSON.stringify($json) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            80,
            -80
          ],
          "id": "b56cd356-56e2-49f4-b4bb-ca5abdfa1b5e",
          "name": "Create Sales Order"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "name": "salesorder_id",
                  "value": "={{ $json.salesorder?.salesorder_id || $('Get Current State').first().json[0]?.zoho_salesorder_id }}",
                  "type": "string"
                },
                {
                  "name": "salesorder_number",
                  "value": "={{ $json.salesorder?.salesorder_number || $('Get Current State').first().json[0]?.zoho_salesorder_number }}",
                  "type": "string"
                },
                {
                  "name": "status",
                  "value": "={{ $json.salesorder?.status || 'existing' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            448,
            -160
          ],
          "id": "e87e7c65-f5a5-4595-a75f-4690732da92f",
          "name": "Merge SO Data"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.status }}",
                  "rightValue": "draft",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  },
                  "id": "c7ab739b-587f-4ff2-b980-0d05b89279ed"
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            672,
            -160
          ],
          "id": "bb39ac41-1f9a-498d-a473-60613ea92374",
          "name": "Needs Confirm?"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://www.zohoapis.com/inventory/v1/salesorders/{{ $json.salesorder_id }}/status/confirmed",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            896,
            -224
          ],
          "id": "d3865abc-6de3-496c-84c0-a0e12d293fa7",
          "name": "Confirm SO"
        },
        {
          "parameters": {
            "url": "=https://www.zohoapis.com/inventory/v1/salesorders/{{ $('Merge SO Data').first().json.salesorder_id }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1120,
            -160
          ],
          "id": "8ad4a44b-dc60-41de-b8df-c91dd0e67120",
          "name": "Get SO Details"
        },
        {
          "parameters": {
            "conditions": {
              "conditions": [
                {
                  "leftValue": "={{ $json.salesorder?.packages?.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "equals"
                  }
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1344,
            -160
          ],
          "id": "ba25f9b3-e4fa-44fe-9444-24ae3de68543",
          "name": "Needs Package?"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://www.zohoapis.com/inventory/v1/packages",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get Seller Config').first().json.OrganizationID }}"
                },
                {
                  "name": "salesorder_id",
                  "value": "={{ $('Merge SO Data').first().json.salesorder_id }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').first().json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"package_number\": \"{{ $('Merge SO Data').first().json.salesorder_number }}\",\n  \"date\": \"{{ $json.salesorder.date }}\",\n  \"line_items\": [{\n    \"so_line_item_id\": \"{{ $json.salesorder.line_items[0].line_item_id }}\",\n    \"quantity\": {{ $json.salesorder.line_items[0].quantity }}\n  }]\n}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1568,
            -224
          ],
          "id": "65b58cc7-333f-4331-be3d-2ac8656edad9",
          "name": "Create Package"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "name": "package_id",
                  "value": "={{ $json.package?.package_id || $('Get SO Details').first().json.salesorder?.packages?.[0]?.package_id }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1792,
            -160
          ],
          "id": "8006b04e-3042-4333-bb5d-868b9e2cf62d",
          "name": "Merge Package Data"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO order_state (order_item_id, order_id, seller_id, current_stage, zoho_salesorder_id, zoho_salesorder_number, zoho_salesorder_status, zoho_package_id, packaged_at)\nVALUES ({{ $('Called by Parent').item.json.order_item_id }}, {{ $('Called by Parent').item.json.order_id }}, '{{ $('Called by Parent').item.json.seller_id }}', 'packaged', '{{ $('Merge SO Data').first().json.salesorder_id }}', '{{ $('Merge SO Data').first().json.salesorder_number }}', 'confirmed', '{{ $json.package_id }}', NOW())\nON DUPLICATE KEY UPDATE\n  current_stage = 'packaged',\n  zoho_salesorder_id = VALUES(zoho_salesorder_id),\n  zoho_salesorder_number = VALUES(zoho_salesorder_number),\n  zoho_salesorder_status = 'confirmed',\n  zoho_package_id = VALUES(zoho_package_id),\n  packaged_at = NOW()",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.4,
          "position": [
            2016,
            -160
          ],
          "id": "8c8fabed-253c-4054-96d0-61d7637a3c8d",
          "name": "Update Order State",
          "credentials": {
            "mySql": {
              "id": "dJUtvtCJ2ElIhHfT",
              "name": "Tallypro MySQL"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO processing_log (event_id, order_item_id, seller_id, execution_id, workflow_name, stage, status, message)\nVALUES ({{ $('Called by Parent').item.json.id }}, {{ $('Called by Parent').item.json.order_item_id }}, '{{ $('Called by Parent').item.json.seller_id }}', '{{ $execution.id }}', 'Process Preparing', 'packaged', 'success', 'Created SO {{ $('Merge SO Data').first().json.salesorder_id }} and Package {{ $('Merge Package Data').first().json.package_id }}')",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.4,
          "position": [
            2240,
            -160
          ],
          "id": "dd0794f8-13f4-4bfb-af9d-7337e55e60d5",
          "name": "Log Success",
          "credentials": {
            "mySql": {
              "id": "dJUtvtCJ2ElIhHfT",
              "name": "Tallypro MySQL"
            }
          }
        },
        {
          "parameters": {
            "url": "https://www.zohoapis.com/inventory/v1/salesorders",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get Seller Config').item.json.OrganizationID }}"
                },
                {
                  "name": "salesorder_number",
                  "value": "={{ $('Called by Parent').item.json.order_item_id }}(Order: {{ $('Called by Parent').item.json.order_id }})"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {
              "response": {
                "response": {
                  "fullResponse": true,
                  "neverError": true,
                  "responseFormat": "json"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            -672,
            -160
          ],
          "id": "83c53030-cde2-4098-b3cb-e533498baf32",
          "name": "Check for Existing SO"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://accounts.zoho.com/oauth/v2/token",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpCustomAuth",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            -1328,
            -160
          ],
          "id": "b0f0cbb1-bf46-42a8-974a-38ab14d29e8f",
          "name": "Get Zoho Access Token",
          "credentials": {
            "httpCustomAuth": {
              "id": "9SvOEsYF9SjtHbhQ",
              "name": "Zoho_Access_Token"
            }
          }
        },
        {
          "parameters": {
            "url": "https://www.zohoapis.com/inventory/v1/items",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get Seller Config').item.json.OrganizationID }}"
                },
                {
                  "name": "search_text",
                  "value": "={{ $('Called by Parent').item.json.sku.substring(0, 4) }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            -1104,
            -160
          ],
          "id": "8e822390-75bb-4a17-b61a-dcdaa35b3ae1",
          "name": "Get Item ID from SKU"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT * FROM order_state WHERE order_item_id = '{{ $('Called by Parent').item.json.order_item_id }}' LIMIT 1",
            "options": {
              "queryReplacement": "="
            }
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.4,
          "position": [
            -880,
            -160
          ],
          "id": "e8e20c6a-faa8-4ea3-b691-17aeb878170a",
          "name": "Get Current State",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "dJUtvtCJ2ElIhHfT",
              "name": "Tallypro MySQL"
            }
          }
        },
        {
          "parameters": {
            "operation": "get",
            "dataTableId": {
              "__rl": true,
              "value": "P2idoCVDSQnCITNY",
              "mode": "list",
              "cachedResultName": "zoho_info",
              "cachedResultUrl": "/projects/A2rkQg960Oa5Tvrh/datatables/P2idoCVDSQnCITNY"
            },
            "matchType": "allConditions",
            "filters": {
              "conditions": [
                {
                  "keyName": "SellerID",
                  "keyValue": "={{ $json.seller_id }}"
                },
                {
                  "keyName": "active",
                  "condition": "isTrue"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.dataTable",
          "typeVersion": 1.1,
          "position": [
            -1552,
            -160
          ],
          "id": "b982aadb-62aa-4d8a-9a7c-031e3b8d382b",
          "name": "Get Seller Config"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "e5eb83b5-8333-475a-8184-ddc2d334528d",
                  "leftValue": "={{ $json.body.salesorders.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -432,
            -160
          ],
          "id": "d17ac915-a787-42f9-947a-0f063377b632",
          "name": "SO Exists?"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "2e6e353e-3bf2-4a28-b9ad-7df551f9fc1c",
                  "name": "salesorder",
                  "value": "={{ $json.body.salesorders[0] }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -160,
            -224
          ],
          "id": "2a891487-4d77-4758-b303-de7d343f812c",
          "name": "Edit Fields"
        },
        {
          "parameters": {
            "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=2K81Hbg5OdfWp_lvno5ro) to commit change ",
            "height": 140,
            "width": 408,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -1776,
            -352
          ],
          "typeVersion": 1,
          "id": "c2ad0bb3-6754-4653-b250-3e42828b06ee",
          "name": "Sticky Note"
        }
      ],
      "connections": {
        "Called by Parent": {
          "main": [
            [
              {
                "node": "Get Seller Config",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build SO Payload": {
          "main": [
            [
              {
                "node": "Create Sales Order",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Sales Order": {
          "main": [
            [
              {
                "node": "Merge SO Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge SO Data": {
          "main": [
            [
              {
                "node": "Needs Confirm?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Needs Confirm?": {
          "main": [
            [
              {
                "node": "Confirm SO",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get SO Details",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Confirm SO": {
          "main": [
            [
              {
                "node": "Get SO Details",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get SO Details": {
          "main": [
            [
              {
                "node": "Needs Package?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Needs Package?": {
          "main": [
            [
              {
                "node": "Create Package",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Merge Package Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Package": {
          "main": [
            [
              {
                "node": "Merge Package Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge Package Data": {
          "main": [
            [
              {
                "node": "Update Order State",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update Order State": {
          "main": [
            [
              {
                "node": "Log Success",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check for Existing SO": {
          "main": [
            [
              {
                "node": "SO Exists?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Zoho Access Token": {
          "main": [
            [
              {
                "node": "Get Item ID from SKU",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Item ID from SKU": {
          "main": [
            [
              {
                "node": "Get Current State",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Current State": {
          "main": [
            [
              {
                "node": "Check for Existing SO",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Seller Config": {
          "main": [
            [
              {
                "node": "Get Zoho Access Token",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "SO Exists?": {
          "main": [
            [
              {
                "node": "Edit Fields",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Build SO Payload",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields": {
          "main": [
            [
              {
                "node": "Merge SO Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Mark Wilson",
      "name": "Version 738909bd",
      "description": "",
      "autosaved": true,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-02-12T06:40:37.175Z",
          "id": 85,
          "workflowId": "2K81Hbg5OdfWp_lvno5ro",
          "versionId": "738909bd-8e6b-4487-9b95-3ba60b712e70",
          "event": "activated",
          "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89"
        }
      ]
    }
  }
]