Webhook - Takealot Sale Status Changed - Create Zoho Transacation-XYhKungDNJV46vQF.json
[
  {
    "updatedAt": "2026-02-03T10:03:59.432Z",
    "createdAt": "2026-01-01T15:28:55.444Z",
    "id": "XYhKungDNJV46vQF",
    "name": "Webhook - Takealot Sale Status Changed - Create Zoho Transacation",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": ":seller_id",
          "options": {
            "rawBody": true
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -736,
          464
        ],
        "id": "fd6cf5b0-c95c-48ad-be0e-cc46d02762ec",
        "name": "Webhook",
        "webhookId": "fa329524-5a4e-4fab-a636-cfcd3b496f4b"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://accounts.zoho.com/oauth/v2/token",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          608,
          368
        ],
        "id": "357e44a9-f2f4-4ec2-9f49-98a4a12e46dc",
        "name": "Get Zoho Access Token",
        "credentials": {
          "httpCustomAuth": {
            "id": "9SvOEsYF9SjtHbhQ",
            "name": "Zoho_Access_Token"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.zohoapis.com/inventory/v1/items",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "search_text",
                "value": "={{ $('Webhook').item.json.body.sale.sku.substring(0, 4) }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          832,
          368
        ],
        "id": "b17cc03e-80a5-438e-a669-8bf82b27a4e8",
        "name": "Get Item ID from SKU"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $json.salesorder_id }}/status/confirmed",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2960,
          -96
        ],
        "id": "65ea9213-8821-474b-b8a6-0533fc805532",
        "name": "Confirm Salesorder",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4841da88-677c-4093-9e86-9a06ac2a6f83",
                "name": "zoho_endpoint",
                "value": "={{ ({\n  2: \"https://www.zohoapis.com/inventory/v1/salesorders\",\n  3: \"https://www.zohoapis.com/inventory/v1/invoices\",\n  19: \"https://www.zohoapis.com/inventory/v1/creditnotes\"\n})[$('Webhook').item.json.body.sale.sale_status_id] || null }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          160,
          464
        ],
        "id": "b2c36f0d-80be-4c33-97b8-128c72e7ea10",
        "name": "Set Endpoint"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"customer_id\": \"{{ $('Get row(s)').item.json.CustomerID }}\",\n\"date\": \"{{ (() => {\n  const date = $('Webhook').item.json.body.event_timestamp_utc.split('T')[0];\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n    throw new Error('Invalid date format');\n  }\n  return date;\n})() }}\",\n  \"doc_number\": \"{{ $('Webhook').item.json.body.sale.order_item_id }}(Order: {{ $('Webhook').item.json.body.sale.order_id }})\",\n  \"order_id\": {{ $('Webhook').item.json.body.sale.order_id }},\n  \"order_item_id\": {{ $('Webhook').item.json.body.sale.order_item_id }},\n  \"reference_number\": \"{{ $('Webhook').item.json.body.sale.order_item_id }}(Order: {{ $('Webhook').item.json.body.sale.order_id }})\",\n  \"salesorder_number\": \"{{ $('Webhook').item.json.body.sale.order_item_id }}(Order: {{ $('Webhook').item.json.body.sale.order_id }})\",\n  \"is_inclusive_tax\": true,\n  \"due_date\": {{ $('Webhook').item.json.body.event_timestamp_utc.slice(0, 10) }},\n  \"location_id\": \"{{ $('Get row(s)').item.json.ParentLocationID }}\",\n  \"notes\": \"Customer name: {{ $('Webhook').item.json.body.sale.customer }}\",\n  \"line_items\": [{\n    \"item_id\": \"{{ $('Get Item ID from SKU').item.json.items[0].item_id }}\",\n    \"name\": \"{{ $('Webhook').item.json.body.sale.product_title }}\",\n    \"rate\": {{ (() => {\n  const price = $('Webhook').item.json.body.sale.selling_price;\n  const qty = $('Webhook').item.json.body.sale.quantity;\n  if (qty === 0) throw new Error('Quantity cannot be zero');\n  return price / qty;\n})() }},\n    \"quantity\": {{ $('Webhook').item.json.body.sale.quantity }},\n    \"tax_id\": \"{{ $('Get row(s)').item.json.TaxID }}\",\n    \"item_total\": {{ $('Webhook').item.json.body.sale.selling_price }},\n    \"location_id\": \"{{ $('Get row(s)').item.json.LocationID }}\"\n  }]\n }",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1280,
          368
        ],
        "id": "d099e97d-a493-4ba0-bf3a-202815532fba",
        "name": "Build JSON",
        "notes": "Added date check to see if date is valid and safe division for \"rate\" in case quantity is zero"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $json.invoice.invoice_id }}/status/sent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2624,
          368
        ],
        "id": "f3b3b099-d358-4179-894f-27d95f6e8003",
        "name": "Mark Invoice as Sent"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/mapwithorder",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "invoice_ids",
                "value": "={{ $('Create Invoice').item.json.invoice.invoice_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2848,
          368
        ],
        "id": "79ea6a67-3a85-4bc6-ba23-f675df713a7d",
        "name": "Map to Salesorder"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "P2idoCVDSQnCITNY",
            "mode": "list",
            "cachedResultName": "zoho_info",
            "cachedResultUrl": "/projects/A2rkQg960Oa5Tvrh/datatables/P2idoCVDSQnCITNY"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "SellerID",
                "keyValue": "={{ $('Webhook').item.json.params.seller_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -528,
          464
        ],
        "id": "b7faec4b-cd5a-44a4-9152-87aacdf90fea",
        "name": "Get row(s)"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          608,
          560
        ],
        "id": "12f4f9ef-1f63-47f8-9219-4c1e55029ef9",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "8f3e18e0-c669-4dd3-a2e7-f8c04ba01d7a",
                "leftValue": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
                "rightValue": 3,
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          384,
          464
        ],
        "id": "56528ec2-07b7-4f83-a907-c7f4b6083fb3",
        "name": "if valid transaction"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.zohoapis.com/inventory/v1/packages",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "salesorder_id",
                "value": "={{ $json.body.salesorder.salesorder_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"package_number\": \"{{ $json.body.salesorder.salesorder_number }}\",\n  \"date\": \"{{ $json.body.salesorder.date }}\",\n  \"line_items\": [\n    {\n      \"so_line_item_id\": \"{{ $json.body.salesorder.line_items[0].line_item_id }}\",\n      \"quantity\": {{ $json.body.salesorder.line_items[0].quantity }}\n    }\n  ],\n  \"notes\": \"{{ $json.body.salesorder.notes }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3648,
          -352
        ],
        "id": "41afaa63-5132-4ae6-afa9-83a1dd3f9472",
        "name": "Create package",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/inventory/v1/packages",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "=organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "search_text",
                "value": "={{ $('Build JSON').item.json.doc_number }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1728,
          368
        ],
        "id": "0ae581b6-d038-41f2-a6e7-a8c41bac503e",
        "name": "Get Package"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.zohoapis.com/inventory/v1/shipmentorders",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "salesorder_id",
                "value": "={{ $json.packages[0].salesorder_id }}"
              },
              {
                "name": "package_ids",
                "value": "={{ $json.packages[0].package_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"shipment_number\": \"{{ $('Build JSON').item.json.reference_number }}\",\n  \"date\": \"{{ $('Build JSON').item.json.date }}\",\n  \"delivery_method\": \"Takealot\",\n  \"tracking_number\": \"{{ $('Build JSON').item.json.reference_number }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1952,
          368
        ],
        "id": "84e2f9c6-91b2-4ca6-b1aa-1ab285b2b1ae",
        "name": "Create Shipment",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.zohoapis.com/inventory/v1/shipmentorders/{{ $json.shipmentorder.shipment_id }}/status/delivered",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2176,
          368
        ],
        "id": "d4917ca1-51c5-4630-958c-c954508d2eb1",
        "name": "Mark as Delivered"
      },
      {
        "parameters": {
          "action": "hmac",
          "binaryData": true,
          "type": "SHA256",
          "dataPropertyName": "HMAC",
          "secret": "={{ $json.takealot_webhook_secret }}"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1,
        "position": [
          -272,
          464
        ],
        "id": "e2234e8e-9921-49bd-9c16-b12e02edb77b",
        "name": "Crypto",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.zohoapis.com/inventory/v1/salesreturns",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "salesorder_id",
                "value": "={{ $('Get SO Details').item.json.salesorder.salesorder_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"date\": \"{{ $('Build JSON').item.json.date }}\",\n    \"return_type\": \"return_credit\",\n    \"location_id\": \"{{ $('Get SO Details').item.json.salesorder.location_id }}\",\n    \"line_items\": [\n        {\n            \"item_id\": \"{{ $('Get SO Details').item.json.salesorder.line_items[0].item_id }}\",\n            \"salesorder_item_id\": \"{{ $('Get SO Details').item.json.salesorder.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $('Build JSON').item.json.line_items[0].quantity }},\n            \"location_id\": \"{{ $('Build JSON').item.json.line_items[0].location_id }}\"\n        }\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2848,
          848
        ],
        "id": "fe4f06f8-f8cc-4800-b122-85ec14082b3c",
        "name": "Create Sales Return"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.zohoapis.com/inventory/v1/salesreturnreceives",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "salesreturn_id",
                "value": "={{ $json.salesreturn.salesreturn_id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"date\": \"{{ $json.salesreturn.date }}\",\n    \"line_items\": [\n        {\n            \"line_item_id\": \"{{ $json.salesreturn.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $json.salesreturn.line_items[0].quantity }}\n        }\n    ]\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3072,
          848
        ],
        "id": "66680dc4-1e04-44bc-8510-730943cf0196",
        "name": "Receive Sales Return",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.sale.sale_status_id }}",
                      "rightValue": 2,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "2bfe015f-886e-410e-a6fa-5f3c5c78f27e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Preparing"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9a4a839e-94a9-47e8-aeb3-7f54e02d9b9a",
                      "leftValue": "={{ $('Webhook').item.json.body.sale.sale_status_id }}",
                      "rightValue": 3,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Shipped"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c1b2e3aa-9b22-449e-9027-0483a4d7ba3f",
                      "leftValue": "={{ $('Webhook').item.json.body.sale.sale_status_id }}",
                      "rightValue": 19,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Returned"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1504,
          352
        ],
        "id": "67bd83cd-1721-4f03-9645-fc5dd5255d70",
        "name": "Switch1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2208,
          64
        ],
        "id": "4865e69f-9e68-4106-9d45-bef3ffc12efd",
        "name": "Create Salesorder",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2400,
          368
        ],
        "id": "909bcb86-660e-4120-9cf7-6770ef2159bb",
        "name": "Create Invoice"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3296,
          848
        ],
        "id": "f3e281dc-3e61-4e91-8564-fed313c409d8",
        "name": "Create Credit Note"
      },
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/inventory/v1/salesorders",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "search_text",
                "value": "={{ $json.reference_number }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1728,
          656
        ],
        "id": "0d226bf8-19fa-4be5-9ad9-04fef58a6f98",
        "name": "Get Original Sales Order Number",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/inventory/v1/salesorders/{{ $json.salesorders[0].salesorder_id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2176,
          560
        ],
        "id": "8a9a8728-c201-4016-8ff9-0a1f720692fb",
        "name": "Get SO Details"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d3418105-3246-4d2f-a5b4-a0c693f137d3",
                "leftValue": "={{ $json.salesorders }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1952,
          656
        ],
        "id": "468a7244-2a8d-45e0-8411-a2104cb4e7c0",
        "name": "Found Original Sales Order"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2176,
          752
        ],
        "id": "2f140d0c-4e54-42d5-bfc3-6a2cbfc33159",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "url": "=https://www.zohoapis.com/inventory/v1/salesreturns",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "search_text",
                "value": "={{ $json.salesorder.salesorder_number }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"date\": \"{{ $('Build JSON').item.json.date }}\",\n    \"location_id\": \"{{ $json.salesorder.location_id }}\",\n    \"line_items\": [\n        {\n            \"item_id\": \"{{ $json.salesorder.line_items[0].item_id }}\",\n            \"salesorder_item_id\": \"{{ $json.salesorder.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $('Build JSON').item.json.line_items[0].quantity }},\n            \"location_id\": \"{{ $('Build JSON').item.json.line_items[0].location_id }}\"\n        }\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2400,
          560
        ],
        "id": "a7c86499-84b5-48f0-adfc-3ecdce8f409f",
        "name": "Check for Existing SR"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d442d061-0c45-4f91-8197-37b8d34e2cf4",
                "leftValue": "={{ $json.salesreturns.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2624,
          560
        ],
        "id": "af670c31-9da6-40f4-808b-eb82c44f4559",
        "name": "SR Exists"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d442d061-0c45-4f91-8197-37b8d34e2cf4",
                "leftValue": "={{ $json.salesreturns[0].quantity_yet_to_receive }}",
                "rightValue": -1,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2848,
          560
        ],
        "id": "bc8780ca-7b8c-48ea-8f55-7e1849d5b5d9",
        "name": "Available for return"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          3072,
          656
        ],
        "id": "a28f0175-9702-4305-9f7e-6660f4906cfc",
        "name": "No Operation, do nothing2"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://www.zohoapis.com/inventory/v1/salesreturns/{{ $json.salesreturns[0].salesreturn_id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"date\": \"{{ $('Build JSON').item.json.date }}\",\n    \"location_id\": \"{{ $json.salesorder.location_id }}\",\n    \"line_items\": [\n        {\n            \"item_id\": \"{{ $json.salesorder.line_items[0].item_id }}\",\n            \"salesorder_item_id\": \"{{ $json.salesorder.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $('Build JSON').item.json.line_items[0].quantity }},\n            \"location_id\": \"{{ $('Build JSON').item.json.line_items[0].location_id }}\"\n        }\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3072,
          464
        ],
        "id": "4029a5c9-4946-4254-9616-044f2dac24d3",
        "name": "Update SR"
      },
      {
        "parameters": {
          "url": "=https://httpbin.dev/base64/encode/{{ encodeURIComponent($json.HMAC) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -32,
          464
        ],
        "id": "d6f1dc40-bbde-4160-b00f-f45ae88ee304",
        "name": "HTTP Request",
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=XYhKungDNJV46vQF) to commit change ",
          "height": 140,
          "width": 440,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -736,
          240
        ],
        "typeVersion": 1,
        "id": "9f61b6de-7d67-4253-bd47-37b685aa75f7",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              },
              {
                "name": "salesorder_number",
                "value": "={{ $('Build JSON').item.json.reference_number }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1744,
          -16
        ],
        "id": "38f3fef2-5bff-49cc-a0ca-5b022977c81c",
        "name": "Check for Existing SO"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e5eb83b5-8333-475a-8184-ddc2d334528d",
                "leftValue": "={{ $json.body.salesorders.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1952,
          -16
        ],
        "id": "ab7bba60-a5f9-4c01-a8d8-dc1da002fa75",
        "name": "SO Exists?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "43a58f31-369b-4b21-8ed0-620bb3f52cac",
                "leftValue": "={{ $json.statusCode }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              },
              {
                "id": "eca26688-5dd0-425f-8936-08a78e1c7e56",
                "leftValue": "={{ $json.statusCode }}",
                "rightValue": 299,
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              },
              {
                "id": "335c6485-e0ad-4a9b-9de6-94b570f4c89c",
                "leftValue": "={{ $json.body.salesorder.salesorder_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "df8a4a14-54b8-48a3-bf80-a5610815f6e2",
                "leftValue": "={{ $json.body.salesorder.line_items.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2480,
          0
        ],
        "id": "65e6be3a-d72a-4ba1-9c77-918f343324d7",
        "name": "Validate SO Creation"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json.body.salesorder;\nconst expected = $('Build JSON').item.json;\n\n// Validate critical fields match\nconst errors = [];\n\nif (response.order_id !== expected.salesorder_id) {\n  errors.push(`Order ID mismatch: ${response.salesorder_id} vs ${expected.salesorder_id}`);\n}\n\nif (Math.abs(response.total - expected.line_items[0].item_total) > 0.01) {\n  errors.push(`Total mismatch: ${response.total} vs ${expected.line_items[0].item_total}`);\n}\n\nif (response.line_items[0].quantity !== expected.line_items[0].quantity) {\n  errors.push(`Quantity mismatch`);\n}\n\nif (errors.length > 0) {\n  throw new Error(`SO validation failed: ${errors.join(', ')}`);\n}\n\nreturn {\n  json: {\n    validated: true,\n    salesorder_id: response.salesorder_id,\n    ...response\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          -96
        ],
        "id": "f497d484-afaf-4aad-8cb1-651927f94374",
        "name": "Validate SO Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d5bdf613-bb65-41cf-8d17-3ca871358eaa",
                "leftValue": "={{ $json.body.salesorder.line_items[0].quantity_packed }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "0f2d749c-be5a-43a7-81aa-aa7a7f900d44",
                "leftValue": "={{ $json.body.salesorder.status }}",
                "rightValue": "confirmed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3392,
          -272
        ],
        "id": "e44637fc-27a5-4155-9201-4e8208598740",
        "name": "Check Package Prerequisites"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.salesorders[0].order_status }}",
                      "rightValue": "void",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "2bfe015f-886e-410e-a6fa-5f3c5c78f27e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "void"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9a4a839e-94a9-47e8-aeb3-7f54e02d9b9a",
                      "leftValue": "={{ $json.body.salesorders[0].order_status }}",
                      "rightValue": "confirmed",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "confirmed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c1b2e3aa-9b22-449e-9027-0483a4d7ba3f",
                      "leftValue": "={{ $json.body.salesorders[0].order_status }}",
                      "rightValue": "draft",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "draft"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          2208,
          -176
        ],
        "id": "2f146bbb-9bee-4f71-83c2-ffa2be2f9232",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $('Validate SO Data').item.json.salesorder_id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3184,
          -208
        ],
        "id": "16ac7f23-b671-4e06-9b2d-1b4639106c83",
        "name": "Get Created SO"
      },
      {
        "parameters": {
          "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $('Check for Existing SO').item.json.body.salesorders[0].salesorder_id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "organization_id",
                "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3184,
          -400
        ],
        "id": "3c43a92e-b3e2-4ff3-96ee-c27d84fb12b7",
        "name": "Get Existing SO"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "create_so",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "error",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Sales Order creation failed",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2672,
          192
        ],
        "id": "1e614a3c-48e5-48f6-8e7b-fb9ed139da97",
        "name": "Log Entry - Failed SO Create"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "confirm_so",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "error",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Sales Order confirmation failed",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3216,
          -16
        ],
        "id": "733c646d-82f1-4444-8fb3-89c974ddd0aa",
        "name": "Log Entry - SO Confirm Fail"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "package_check",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "error",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Package Prerequisites Failed",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3648,
          -144
        ],
        "id": "104e58b1-0392-4fb9-b4e3-d9fbf69f2b15",
        "name": "Log Entry - Package Prerequisites failed"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "validate_so",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "error",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Sales Order invalid",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2880,
          80
        ],
        "id": "0e21a2ab-1f0d-49e6-a936-1c9e0bcffeac",
        "name": "Log Entry - Invalid SO"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "void_so",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "error",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Sales Order exists in status VOID",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2432,
          -320
        ],
        "id": "9c9d6f02-6e27-4fdb-ad75-c998b96beac4",
        "name": "Log Entry - SO = Void"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "package_create",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "error",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Package Create Failed",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3856,
          -304
        ],
        "id": "9afc2845-9d12-41f0-92e5-f009ed90bdcd",
        "name": "Log Entry - Create Package failed"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                "name": "execution_id",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                "name": "workflow_name",
                "value": "Takealot Status Change Webhook",
                "type": "string"
              },
              {
                "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                "name": "seller_id",
                "value": "={{ $('Webhook').item.json.params.seller_id }}",
                "type": "string"
              },
              {
                "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                "name": "order_item_id",
                "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                "type": "string"
              },
              {
                "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                "name": "stage",
                "value": "so_workflow",
                "type": "string"
              },
              {
                "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                "name": "status",
                "value": "success",
                "type": "string"
              },
              {
                "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                "name": "message",
                "value": "Salesorder workflow completed successfully",
                "type": "string"
              },
              {
                "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                "name": "details",
                "value": "={{ $('Webhook').item.json.toJsonString() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3872,
          -496
        ],
        "id": "4616373a-f409-4da9-a2a3-7ff658ca3b93",
        "name": "Log Entry - Success"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://urbanetrains.backendless.app/api/data/n8n-status-change-webhook-workflow-logs",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4304,
          48
        ],
        "id": "008e76ba-56f5-4546-8302-500be80a254d",
        "name": "Log Result to Backendless"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://urbanetrains.backendless.app/api/data/n8n-status-change-webhook-workflow-logs",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2656,
          -512
        ],
        "id": "2e2c2aff-7590-4113-b5cb-e4792d68cfc7",
        "name": "Log Event to Backendless"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Zoho Access Token": {
        "main": [
          [
            {
              "node": "Get Item ID from SKU",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Item ID from SKU": {
        "main": [
          [
            {
              "node": "Build JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Endpoint": {
        "main": [
          [
            {
              "node": "if valid transaction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build JSON": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Invoice as Sent": {
        "main": [
          [
            {
              "node": "Map to Salesorder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if valid transaction": {
        "main": [
          [
            {
              "node": "Get Zoho Access Token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirm Salesorder": {
        "main": [
          [
            {
              "node": "Get Created SO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Entry - SO Confirm Fail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Package": {
        "main": [
          [
            {
              "node": "Create Shipment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Shipment": {
        "main": [
          [
            {
              "node": "Mark as Delivered",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark as Delivered": {
        "main": [
          [
            {
              "node": "Create Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crypto": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Sales Return": {
        "main": [
          [
            {
              "node": "Receive Sales Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Check for Existing SO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Package",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Original Sales Order Number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Salesorder": {
        "main": [
          [
            {
              "node": "Validate SO Creation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Entry - Failed SO Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Invoice": {
        "main": [
          [
            {
              "node": "Mark Invoice as Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive Sales Return": {
        "main": [
          [
            {
              "node": "Create Credit Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Original Sales Order Number": {
        "main": [
          [
            {
              "node": "Found Original Sales Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get SO Details": {
        "main": [
          [
            {
              "node": "Check for Existing SR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Found Original Sales Order": {
        "main": [
          [
            {
              "node": "Get SO Details",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Existing SR": {
        "main": [
          [
            {
              "node": "SR Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SR Exists": {
        "main": [
          [
            {
              "node": "Available for return",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Sales Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Available for return": {
        "main": [
          [
            {
              "node": "Update SR",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Set Endpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Existing SO": {
        "main": [
          [
            {
              "node": "SO Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SO Exists?": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Salesorder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate SO Creation": {
        "main": [
          [
            {
              "node": "Validate SO Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Entry - Invalid SO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate SO Data": {
        "main": [
          [
            {
              "node": "Confirm Salesorder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Package Prerequisites": {
        "main": [
          [
            {
              "node": "Create package",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Entry - Package Prerequisites failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create package": {
        "main": [
          [
            {
              "node": "Log Entry - Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Entry - Create Package failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Log Entry - SO = Void",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Existing SO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validate SO Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Created SO": {
        "main": [
          [
            {
              "node": "Check Package Prerequisites",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Existing SO": {
        "main": [
          [
            {
              "node": "Check Package Prerequisites",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - Package Prerequisites failed": {
        "main": [
          [
            {
              "node": "Log Result to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - Success": {
        "main": [
          [
            {
              "node": "Log Result to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - Create Package failed": {
        "main": [
          [
            {
              "node": "Log Result to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - SO Confirm Fail": {
        "main": [
          [
            {
              "node": "Log Result to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - Invalid SO": {
        "main": [
          [
            {
              "node": "Log Result to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - Failed SO Create": {
        "main": [
          [
            {
              "node": "Log Result to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Entry - SO = Void": {
        "main": [
          [
            {
              "node": "Log Event to Backendless",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "20186417-1651-46ae-8075-ad4df1abf0c1",
    "activeVersionId": "20186417-1651-46ae-8075-ad4df1abf0c1",
    "versionCounter": 230,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-01T15:28:55.930Z",
        "createdAt": "2026-01-01T15:28:55.930Z",
        "role": "workflow:owner",
        "workflowId": "XYhKungDNJV46vQF",
        "projectId": "A2rkQg960Oa5Tvrh",
        "project": {
          "updatedAt": "2025-12-31T14:13:45.374Z",
          "createdAt": "2025-12-31T14:10:14.084Z",
          "id": "A2rkQg960Oa5Tvrh",
          "name": "Mark Wilson <mark@tallypro.co.za>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
          "projectRelations": [
            {
              "updatedAt": "2025-12-31T14:10:14.084Z",
              "createdAt": "2025-12-31T14:10:14.084Z",
              "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
              "projectId": "A2rkQg960Oa5Tvrh",
              "user": {
                "updatedAt": "2026-02-03T06:46:13.000Z",
                "createdAt": "2025-12-31T14:10:08.854Z",
                "id": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89",
                "email": "mark@tallypro.co.za",
                "firstName": "Mark",
                "lastName": "Wilson",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-31T14:14:09.155Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "companyType": "personal",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "XYhKungDNJV46vQF",
                  "userActivatedAt": 1767342699529,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1768308412140
                  }
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-02-02",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-02-03T10:04:02.000Z",
      "createdAt": "2026-02-03T10:03:59.435Z",
      "versionId": "20186417-1651-46ae-8075-ad4df1abf0c1",
      "workflowId": "XYhKungDNJV46vQF",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": ":seller_id",
            "options": {
              "rawBody": true
            }
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            -736,
            464
          ],
          "id": "fd6cf5b0-c95c-48ad-be0e-cc46d02762ec",
          "name": "Webhook",
          "webhookId": "fa329524-5a4e-4fab-a636-cfcd3b496f4b"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://accounts.zoho.com/oauth/v2/token",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpCustomAuth",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            608,
            368
          ],
          "id": "357e44a9-f2f4-4ec2-9f49-98a4a12e46dc",
          "name": "Get Zoho Access Token",
          "credentials": {
            "httpCustomAuth": {
              "id": "9SvOEsYF9SjtHbhQ",
              "name": "Zoho_Access_Token"
            }
          }
        },
        {
          "parameters": {
            "url": "https://www.zohoapis.com/inventory/v1/items",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "search_text",
                  "value": "={{ $('Webhook').item.json.body.sale.sku.substring(0, 4) }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            832,
            368
          ],
          "id": "b17cc03e-80a5-438e-a669-8bf82b27a4e8",
          "name": "Get Item ID from SKU"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $json.salesorder_id }}/status/confirmed",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2960,
            -96
          ],
          "id": "65ea9213-8821-474b-b8a6-0533fc805532",
          "name": "Confirm Salesorder",
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 2000,
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "4841da88-677c-4093-9e86-9a06ac2a6f83",
                  "name": "zoho_endpoint",
                  "value": "={{ ({\n  2: \"https://www.zohoapis.com/inventory/v1/salesorders\",\n  3: \"https://www.zohoapis.com/inventory/v1/invoices\",\n  19: \"https://www.zohoapis.com/inventory/v1/creditnotes\"\n})[$('Webhook').item.json.body.sale.sale_status_id] || null }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            160,
            464
          ],
          "id": "b2c36f0d-80be-4c33-97b8-128c72e7ea10",
          "name": "Set Endpoint"
        },
        {
          "parameters": {
            "mode": "raw",
            "jsonOutput": "={\n  \"customer_id\": \"{{ $('Get row(s)').item.json.CustomerID }}\",\n\"date\": \"{{ (() => {\n  const date = $('Webhook').item.json.body.event_timestamp_utc.split('T')[0];\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n    throw new Error('Invalid date format');\n  }\n  return date;\n})() }}\",\n  \"doc_number\": \"{{ $('Webhook').item.json.body.sale.order_item_id }}(Order: {{ $('Webhook').item.json.body.sale.order_id }})\",\n  \"order_id\": {{ $('Webhook').item.json.body.sale.order_id }},\n  \"order_item_id\": {{ $('Webhook').item.json.body.sale.order_item_id }},\n  \"reference_number\": \"{{ $('Webhook').item.json.body.sale.order_item_id }}(Order: {{ $('Webhook').item.json.body.sale.order_id }})\",\n  \"salesorder_number\": \"{{ $('Webhook').item.json.body.sale.order_item_id }}(Order: {{ $('Webhook').item.json.body.sale.order_id }})\",\n  \"is_inclusive_tax\": true,\n  \"due_date\": {{ $('Webhook').item.json.body.event_timestamp_utc.slice(0, 10) }},\n  \"location_id\": \"{{ $('Get row(s)').item.json.ParentLocationID }}\",\n  \"notes\": \"Customer name: {{ $('Webhook').item.json.body.sale.customer }}\",\n  \"line_items\": [{\n    \"item_id\": \"{{ $('Get Item ID from SKU').item.json.items[0].item_id }}\",\n    \"name\": \"{{ $('Webhook').item.json.body.sale.product_title }}\",\n    \"rate\": {{ (() => {\n  const price = $('Webhook').item.json.body.sale.selling_price;\n  const qty = $('Webhook').item.json.body.sale.quantity;\n  if (qty === 0) throw new Error('Quantity cannot be zero');\n  return price / qty;\n})() }},\n    \"quantity\": {{ $('Webhook').item.json.body.sale.quantity }},\n    \"tax_id\": \"{{ $('Get row(s)').item.json.TaxID }}\",\n    \"item_total\": {{ $('Webhook').item.json.body.sale.selling_price }},\n    \"location_id\": \"{{ $('Get row(s)').item.json.LocationID }}\"\n  }]\n }",
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1280,
            368
          ],
          "id": "d099e97d-a493-4ba0-bf3a-202815532fba",
          "name": "Build JSON",
          "notes": "Added date check to see if date is valid and safe division for \"rate\" in case quantity is zero"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $json.invoice.invoice_id }}/status/sent",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2624,
            368
          ],
          "id": "f3b3b099-d358-4179-894f-27d95f6e8003",
          "name": "Mark Invoice as Sent"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/mapwithorder",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "invoice_ids",
                  "value": "={{ $('Create Invoice').item.json.invoice.invoice_id }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2848,
            368
          ],
          "id": "79ea6a67-3a85-4bc6-ba23-f675df713a7d",
          "name": "Map to Salesorder"
        },
        {
          "parameters": {
            "operation": "get",
            "dataTableId": {
              "__rl": true,
              "value": "P2idoCVDSQnCITNY",
              "mode": "list",
              "cachedResultName": "zoho_info",
              "cachedResultUrl": "/projects/A2rkQg960Oa5Tvrh/datatables/P2idoCVDSQnCITNY"
            },
            "filters": {
              "conditions": [
                {
                  "keyName": "SellerID",
                  "keyValue": "={{ $('Webhook').item.json.params.seller_id }}"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.dataTable",
          "typeVersion": 1.1,
          "position": [
            -528,
            464
          ],
          "id": "b7faec4b-cd5a-44a4-9152-87aacdf90fea",
          "name": "Get row(s)"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            608,
            560
          ],
          "id": "12f4f9ef-1f63-47f8-9219-4c1e55029ef9",
          "name": "No Operation, do nothing"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "8f3e18e0-c669-4dd3-a2e7-f8c04ba01d7a",
                  "leftValue": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
                  "rightValue": 3,
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            384,
            464
          ],
          "id": "56528ec2-07b7-4f83-a907-c7f4b6083fb3",
          "name": "if valid transaction"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://www.zohoapis.com/inventory/v1/packages",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "salesorder_id",
                  "value": "={{ $json.body.salesorder.salesorder_id }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"package_number\": \"{{ $json.body.salesorder.salesorder_number }}\",\n  \"date\": \"{{ $json.body.salesorder.date }}\",\n  \"line_items\": [\n    {\n      \"so_line_item_id\": \"{{ $json.body.salesorder.line_items[0].line_item_id }}\",\n      \"quantity\": {{ $json.body.salesorder.line_items[0].quantity }}\n    }\n  ],\n  \"notes\": \"{{ $json.body.salesorder.notes }}\"\n} ",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            3648,
            -352
          ],
          "id": "41afaa63-5132-4ae6-afa9-83a1dd3f9472",
          "name": "Create package",
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 2000,
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "url": "=https://www.zohoapis.com/inventory/v1/packages",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "=organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "search_text",
                  "value": "={{ $('Build JSON').item.json.doc_number }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1728,
            368
          ],
          "id": "0ae581b6-d038-41f2-a6e7-a8c41bac503e",
          "name": "Get Package"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://www.zohoapis.com/inventory/v1/shipmentorders",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "salesorder_id",
                  "value": "={{ $json.packages[0].salesorder_id }}"
                },
                {
                  "name": "package_ids",
                  "value": "={{ $json.packages[0].package_id }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"shipment_number\": \"{{ $('Build JSON').item.json.reference_number }}\",\n  \"date\": \"{{ $('Build JSON').item.json.date }}\",\n  \"delivery_method\": \"Takealot\",\n  \"tracking_number\": \"{{ $('Build JSON').item.json.reference_number }}\"\n} ",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1952,
            368
          ],
          "id": "84e2f9c6-91b2-4ca6-b1aa-1ab285b2b1ae",
          "name": "Create Shipment",
          "onError": "continueRegularOutput"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://www.zohoapis.com/inventory/v1/shipmentorders/{{ $json.shipmentorder.shipment_id }}/status/delivered",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2176,
            368
          ],
          "id": "d4917ca1-51c5-4630-958c-c954508d2eb1",
          "name": "Mark as Delivered"
        },
        {
          "parameters": {
            "action": "hmac",
            "binaryData": true,
            "type": "SHA256",
            "dataPropertyName": "HMAC",
            "secret": "={{ $json.takealot_webhook_secret }}"
          },
          "type": "n8n-nodes-base.crypto",
          "typeVersion": 1,
          "position": [
            -272,
            464
          ],
          "id": "e2234e8e-9921-49bd-9c16-b12e02edb77b",
          "name": "Crypto",
          "disabled": true
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://www.zohoapis.com/inventory/v1/salesreturns",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "salesorder_id",
                  "value": "={{ $('Get SO Details').item.json.salesorder.salesorder_id }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"date\": \"{{ $('Build JSON').item.json.date }}\",\n    \"return_type\": \"return_credit\",\n    \"location_id\": \"{{ $('Get SO Details').item.json.salesorder.location_id }}\",\n    \"line_items\": [\n        {\n            \"item_id\": \"{{ $('Get SO Details').item.json.salesorder.line_items[0].item_id }}\",\n            \"salesorder_item_id\": \"{{ $('Get SO Details').item.json.salesorder.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $('Build JSON').item.json.line_items[0].quantity }},\n            \"location_id\": \"{{ $('Build JSON').item.json.line_items[0].location_id }}\"\n        }\n    ]\n}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2848,
            848
          ],
          "id": "fe4f06f8-f8cc-4800-b122-85ec14082b3c",
          "name": "Create Sales Return"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://www.zohoapis.com/inventory/v1/salesreturnreceives",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "salesreturn_id",
                  "value": "={{ $json.salesreturn.salesreturn_id }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"date\": \"{{ $json.salesreturn.date }}\",\n    \"line_items\": [\n        {\n            \"line_item_id\": \"{{ $json.salesreturn.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $json.salesreturn.line_items[0].quantity }}\n        }\n    ]\n} ",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            3072,
            848
          ],
          "id": "66680dc4-1e04-44bc-8510-730943cf0196",
          "name": "Receive Sales Return",
          "onError": "continueRegularOutput"
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $('Webhook').item.json.body.sale.sale_status_id }}",
                        "rightValue": 2,
                        "operator": {
                          "type": "number",
                          "operation": "equals"
                        },
                        "id": "2bfe015f-886e-410e-a6fa-5f3c5c78f27e"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Preparing"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "9a4a839e-94a9-47e8-aeb3-7f54e02d9b9a",
                        "leftValue": "={{ $('Webhook').item.json.body.sale.sale_status_id }}",
                        "rightValue": 3,
                        "operator": {
                          "type": "number",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Shipped"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "c1b2e3aa-9b22-449e-9027-0483a4d7ba3f",
                        "leftValue": "={{ $('Webhook').item.json.body.sale.sale_status_id }}",
                        "rightValue": 19,
                        "operator": {
                          "type": "number",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Returned"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            1504,
            352
          ],
          "id": "67bd83cd-1721-4f03-9645-fc5dd5255d70",
          "name": "Switch1"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
            "options": {
              "response": {
                "response": {
                  "fullResponse": true,
                  "neverError": true,
                  "responseFormat": "json"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2208,
            64
          ],
          "id": "4865e69f-9e68-4106-9d45-bef3ffc12efd",
          "name": "Create Salesorder",
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 2000,
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2400,
            368
          ],
          "id": "909bcb86-660e-4120-9cf7-6770ef2159bb",
          "name": "Create Invoice"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            3296,
            848
          ],
          "id": "f3e281dc-3e61-4e91-8564-fed313c409d8",
          "name": "Create Credit Note"
        },
        {
          "parameters": {
            "url": "=https://www.zohoapis.com/inventory/v1/salesorders",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "search_text",
                  "value": "={{ $json.reference_number }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1728,
            656
          ],
          "id": "0d226bf8-19fa-4be5-9ad9-04fef58a6f98",
          "name": "Get Original Sales Order Number",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "url": "=https://www.zohoapis.com/inventory/v1/salesorders/{{ $json.salesorders[0].salesorder_id }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2176,
            560
          ],
          "id": "8a9a8728-c201-4016-8ff9-0a1f720692fb",
          "name": "Get SO Details"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "d3418105-3246-4d2f-a5b4-a0c693f137d3",
                  "leftValue": "={{ $json.salesorders }}",
                  "rightValue": "",
                  "operator": {
                    "type": "array",
                    "operation": "exists",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1952,
            656
          ],
          "id": "468a7244-2a8d-45e0-8411-a2104cb4e7c0",
          "name": "Found Original Sales Order"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            2176,
            752
          ],
          "id": "2f140d0c-4e54-42d5-bfc3-6a2cbfc33159",
          "name": "No Operation, do nothing1"
        },
        {
          "parameters": {
            "url": "=https://www.zohoapis.com/inventory/v1/salesreturns",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "search_text",
                  "value": "={{ $json.salesorder.salesorder_number }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"date\": \"{{ $('Build JSON').item.json.date }}\",\n    \"location_id\": \"{{ $json.salesorder.location_id }}\",\n    \"line_items\": [\n        {\n            \"item_id\": \"{{ $json.salesorder.line_items[0].item_id }}\",\n            \"salesorder_item_id\": \"{{ $json.salesorder.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $('Build JSON').item.json.line_items[0].quantity }},\n            \"location_id\": \"{{ $('Build JSON').item.json.line_items[0].location_id }}\"\n        }\n    ]\n}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2400,
            560
          ],
          "id": "a7c86499-84b5-48f0-adfc-3ecdce8f409f",
          "name": "Check for Existing SR"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "d442d061-0c45-4f91-8197-37b8d34e2cf4",
                  "leftValue": "={{ $json.salesreturns.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            2624,
            560
          ],
          "id": "af670c31-9da6-40f4-808b-eb82c44f4559",
          "name": "SR Exists"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "d442d061-0c45-4f91-8197-37b8d34e2cf4",
                  "leftValue": "={{ $json.salesreturns[0].quantity_yet_to_receive }}",
                  "rightValue": -1,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            2848,
            560
          ],
          "id": "bc8780ca-7b8c-48ea-8f55-7e1849d5b5d9",
          "name": "Available for return"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            3072,
            656
          ],
          "id": "a28f0175-9702-4305-9f7e-6660f4906cfc",
          "name": "No Operation, do nothing2"
        },
        {
          "parameters": {
            "method": "PUT",
            "url": "=https://www.zohoapis.com/inventory/v1/salesreturns/{{ $json.salesreturns[0].salesreturn_id }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n    \"date\": \"{{ $('Build JSON').item.json.date }}\",\n    \"location_id\": \"{{ $json.salesorder.location_id }}\",\n    \"line_items\": [\n        {\n            \"item_id\": \"{{ $json.salesorder.line_items[0].item_id }}\",\n            \"salesorder_item_id\": \"{{ $json.salesorder.line_items[0].line_item_id }}\",\n            \"quantity\": {{ $('Build JSON').item.json.line_items[0].quantity }},\n            \"location_id\": \"{{ $('Build JSON').item.json.line_items[0].location_id }}\"\n        }\n    ]\n}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            3072,
            464
          ],
          "id": "4029a5c9-4946-4254-9616-044f2dac24d3",
          "name": "Update SR"
        },
        {
          "parameters": {
            "url": "=https://httpbin.dev/base64/encode/{{ encodeURIComponent($json.HMAC) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            -32,
            464
          ],
          "id": "d6f1dc40-bbde-4160-b00f-f45ae88ee304",
          "name": "HTTP Request",
          "disabled": true
        },
        {
          "parameters": {
            "content": "## Click [here](https://n8n.tallypro.co.za/form/commit?id=XYhKungDNJV46vQF) to commit change ",
            "height": 140,
            "width": 440,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -736,
            240
          ],
          "typeVersion": 1,
          "id": "9f61b6de-7d67-4253-bd47-37b685aa75f7",
          "name": "Sticky Note"
        },
        {
          "parameters": {
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                },
                {
                  "name": "salesorder_number",
                  "value": "={{ $('Build JSON').item.json.reference_number }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
            "options": {
              "response": {
                "response": {
                  "fullResponse": true,
                  "neverError": true,
                  "responseFormat": "json"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1744,
            -16
          ],
          "id": "38f3fef2-5bff-49cc-a0ca-5b022977c81c",
          "name": "Check for Existing SO"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "e5eb83b5-8333-475a-8184-ddc2d334528d",
                  "leftValue": "={{ $json.body.salesorders.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1952,
            -16
          ],
          "id": "ab7bba60-a5f9-4c01-a8d8-dc1da002fa75",
          "name": "SO Exists?"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "43a58f31-369b-4b21-8ed0-620bb3f52cac",
                  "leftValue": "={{ $json.statusCode }}",
                  "rightValue": 200,
                  "operator": {
                    "type": "number",
                    "operation": "gte"
                  }
                },
                {
                  "id": "eca26688-5dd0-425f-8936-08a78e1c7e56",
                  "leftValue": "={{ $json.statusCode }}",
                  "rightValue": 299,
                  "operator": {
                    "type": "number",
                    "operation": "lte"
                  }
                },
                {
                  "id": "335c6485-e0ad-4a9b-9de6-94b570f4c89c",
                  "leftValue": "={{ $json.body.salesorder.salesorder_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "exists",
                    "singleValue": true
                  }
                },
                {
                  "id": "df8a4a14-54b8-48a3-bf80-a5610815f6e2",
                  "leftValue": "={{ $json.body.salesorder.line_items.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            2480,
            0
          ],
          "id": "65e6be3a-d72a-4ba1-9c77-918f343324d7",
          "name": "Validate SO Creation"
        },
        {
          "parameters": {
            "jsCode": "const response = $input.item.json.body.salesorder;\nconst expected = $('Build JSON').item.json;\n\n// Validate critical fields match\nconst errors = [];\n\nif (response.order_id !== expected.salesorder_id) {\n  errors.push(`Order ID mismatch: ${response.salesorder_id} vs ${expected.salesorder_id}`);\n}\n\nif (Math.abs(response.total - expected.line_items[0].item_total) > 0.01) {\n  errors.push(`Total mismatch: ${response.total} vs ${expected.line_items[0].item_total}`);\n}\n\nif (response.line_items[0].quantity !== expected.line_items[0].quantity) {\n  errors.push(`Quantity mismatch`);\n}\n\nif (errors.length > 0) {\n  throw new Error(`SO validation failed: ${errors.join(', ')}`);\n}\n\nreturn {\n  json: {\n    validated: true,\n    salesorder_id: response.salesorder_id,\n    ...response\n  }\n};"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            2704,
            -96
          ],
          "id": "f497d484-afaf-4aad-8cb1-651927f94374",
          "name": "Validate SO Data"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "d5bdf613-bb65-41cf-8d17-3ca871358eaa",
                  "leftValue": "={{ $json.body.salesorder.line_items[0].quantity_packed }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "equals"
                  }
                },
                {
                  "id": "0f2d749c-be5a-43a7-81aa-aa7a7f900d44",
                  "leftValue": "={{ $json.body.salesorder.status }}",
                  "rightValue": "confirmed",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            3392,
            -272
          ],
          "id": "e44637fc-27a5-4155-9201-4e8208598740",
          "name": "Check Package Prerequisites"
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.body.salesorders[0].order_status }}",
                        "rightValue": "void",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "2bfe015f-886e-410e-a6fa-5f3c5c78f27e"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "void"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "9a4a839e-94a9-47e8-aeb3-7f54e02d9b9a",
                        "leftValue": "={{ $json.body.salesorders[0].order_status }}",
                        "rightValue": "confirmed",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "confirmed"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "c1b2e3aa-9b22-449e-9027-0483a4d7ba3f",
                        "leftValue": "={{ $json.body.salesorders[0].order_status }}",
                        "rightValue": "draft",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "draft"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            2208,
            -176
          ],
          "id": "2f146bbb-9bee-4f71-83c2-ffa2be2f9232",
          "name": "Switch"
        },
        {
          "parameters": {
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $('Validate SO Data').item.json.salesorder_id }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $('Build JSON').item.json.toJsonString() }}",
            "options": {
              "response": {
                "response": {
                  "fullResponse": true,
                  "neverError": true,
                  "responseFormat": "json"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            3184,
            -208
          ],
          "id": "16ac7f23-b671-4e06-9b2d-1b4639106c83",
          "name": "Get Created SO"
        },
        {
          "parameters": {
            "url": "={{ $('Set Endpoint').item.json.zoho_endpoint }}/{{ $('Check for Existing SO').item.json.body.salesorders[0].salesorder_id }}",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "organization_id",
                  "value": "={{ $('Get row(s)').item.json.OrganizationID }}"
                }
              ]
            },
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Zoho-oauthtoken {{ $('Get Zoho Access Token').item.json.access_token }}"
                }
              ]
            },
            "options": {
              "response": {
                "response": {
                  "fullResponse": true,
                  "neverError": true,
                  "responseFormat": "json"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            3184,
            -400
          ],
          "id": "3c43a92e-b3e2-4ff3-96ee-c27d84fb12b7",
          "name": "Get Existing SO"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "create_so",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "error",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Sales Order creation failed",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            2672,
            192
          ],
          "id": "1e614a3c-48e5-48f6-8e7b-fb9ed139da97",
          "name": "Log Entry - Failed SO Create"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "confirm_so",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "error",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Sales Order confirmation failed",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            3216,
            -16
          ],
          "id": "733c646d-82f1-4444-8fb3-89c974ddd0aa",
          "name": "Log Entry - SO Confirm Fail"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "package_check",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "error",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Package Prerequisites Failed",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            3648,
            -144
          ],
          "id": "104e58b1-0392-4fb9-b4e3-d9fbf69f2b15",
          "name": "Log Entry - Package Prerequisites failed"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "validate_so",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "error",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Sales Order invalid",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            2880,
            80
          ],
          "id": "0e21a2ab-1f0d-49e6-a936-1c9e0bcffeac",
          "name": "Log Entry - Invalid SO"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "void_so",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "error",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Sales Order exists in status VOID",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            2432,
            -320
          ],
          "id": "9c9d6f02-6e27-4fdb-ad75-c998b96beac4",
          "name": "Log Entry - SO = Void"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "package_create",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "error",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Package Create Failed",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            3856,
            -304
          ],
          "id": "9afc2845-9d12-41f0-92e5-f009ed90bdcd",
          "name": "Log Entry - Create Package failed"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "1ced0d19-28eb-4e5d-b556-2e046c9c5e5d",
                  "name": "timestamp",
                  "value": "={{ new Date().toISOString() }}",
                  "type": "string"
                },
                {
                  "id": "4e64f3c8-d974-4fae-9ebd-bb45214d4be1",
                  "name": "execution_id",
                  "value": "={{ $execution.id }}",
                  "type": "string"
                },
                {
                  "id": "8702cca0-98d2-4e2d-8e19-acd328a74ef3",
                  "name": "workflow_name",
                  "value": "Takealot Status Change Webhook",
                  "type": "string"
                },
                {
                  "id": "5670fd65-139e-44c3-97f2-6e187f07b4ac",
                  "name": "seller_id",
                  "value": "={{ $('Webhook').item.json.params.seller_id }}",
                  "type": "string"
                },
                {
                  "id": "eaab8a22-445b-4150-9070-f79194a1f828",
                  "name": "order_item_id",
                  "value": "={{ $('Webhook').item.json.body.sale.order_item_id }}",
                  "type": "string"
                },
                {
                  "id": "44c6ebce-ef9a-4a89-84d7-517054a0052c",
                  "name": "stage",
                  "value": "so_workflow",
                  "type": "string"
                },
                {
                  "id": "27aa2e80-1b7a-46ef-ad91-4b5603efd30d",
                  "name": "status",
                  "value": "success",
                  "type": "string"
                },
                {
                  "id": "34ee7c18-dcec-4d4c-80ca-b14d6a4da038",
                  "name": "message",
                  "value": "Salesorder workflow completed successfully",
                  "type": "string"
                },
                {
                  "id": "0cdf2735-de3c-4c6f-b0f7-7f10664800dc",
                  "name": "details",
                  "value": "={{ $('Webhook').item.json.toJsonString() }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            3872,
            -496
          ],
          "id": "4616373a-f409-4da9-a2a3-7ff658ca3b93",
          "name": "Log Entry - Success"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://urbanetrains.backendless.app/api/data/n8n-status-change-webhook-workflow-logs",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $json }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            4304,
            48
          ],
          "id": "008e76ba-56f5-4546-8302-500be80a254d",
          "name": "Log Result to Backendless"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://urbanetrains.backendless.app/api/data/n8n-status-change-webhook-workflow-logs",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $json }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            2656,
            -512
          ],
          "id": "2e2c2aff-7590-4113-b5cb-e4792d68cfc7",
          "name": "Log Event to Backendless"
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Get row(s)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Zoho Access Token": {
          "main": [
            [
              {
                "node": "Get Item ID from SKU",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Item ID from SKU": {
          "main": [
            [
              {
                "node": "Build JSON",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Set Endpoint": {
          "main": [
            [
              {
                "node": "if valid transaction",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build JSON": {
          "main": [
            [
              {
                "node": "Switch1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Mark Invoice as Sent": {
          "main": [
            [
              {
                "node": "Map to Salesorder",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get row(s)": {
          "main": [
            [
              {
                "node": "Crypto",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "if valid transaction": {
          "main": [
            [
              {
                "node": "Get Zoho Access Token",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Operation, do nothing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Confirm Salesorder": {
          "main": [
            [
              {
                "node": "Get Created SO",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Log Entry - SO Confirm Fail",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Package": {
          "main": [
            [
              {
                "node": "Create Shipment",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Shipment": {
          "main": [
            [
              {
                "node": "Mark as Delivered",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Mark as Delivered": {
          "main": [
            [
              {
                "node": "Create Invoice",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Crypto": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Sales Return": {
          "main": [
            [
              {
                "node": "Receive Sales Return",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch1": {
          "main": [
            [
              {
                "node": "Check for Existing SO",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get Package",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get Original Sales Order Number",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Salesorder": {
          "main": [
            [
              {
                "node": "Validate SO Creation",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Log Entry - Failed SO Create",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Invoice": {
          "main": [
            [
              {
                "node": "Mark Invoice as Sent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Receive Sales Return": {
          "main": [
            [
              {
                "node": "Create Credit Note",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Original Sales Order Number": {
          "main": [
            [
              {
                "node": "Found Original Sales Order",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get SO Details": {
          "main": [
            [
              {
                "node": "Check for Existing SR",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Found Original Sales Order": {
          "main": [
            [
              {
                "node": "Get SO Details",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Operation, do nothing1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check for Existing SR": {
          "main": [
            [
              {
                "node": "SR Exists",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "SR Exists": {
          "main": [
            [
              {
                "node": "Available for return",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Create Sales Return",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Available for return": {
          "main": [
            [
              {
                "node": "Update SR",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Operation, do nothing2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Set Endpoint",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check for Existing SO": {
          "main": [
            [
              {
                "node": "SO Exists?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "SO Exists?": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Create Salesorder",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Validate SO Creation": {
          "main": [
            [
              {
                "node": "Validate SO Data",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Log Entry - Invalid SO",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Validate SO Data": {
          "main": [
            [
              {
                "node": "Confirm Salesorder",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check Package Prerequisites": {
          "main": [
            [
              {
                "node": "Create package",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Log Entry - Package Prerequisites failed",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create package": {
          "main": [
            [
              {
                "node": "Log Entry - Success",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Log Entry - Create Package failed",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Log Entry - SO = Void",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get Existing SO",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Validate SO Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Created SO": {
          "main": [
            [
              {
                "node": "Check Package Prerequisites",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Existing SO": {
          "main": [
            [
              {
                "node": "Check Package Prerequisites",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - Package Prerequisites failed": {
          "main": [
            [
              {
                "node": "Log Result to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - Success": {
          "main": [
            [
              {
                "node": "Log Result to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - Create Package failed": {
          "main": [
            [
              {
                "node": "Log Result to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - SO Confirm Fail": {
          "main": [
            [
              {
                "node": "Log Result to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - Invalid SO": {
          "main": [
            [
              {
                "node": "Log Result to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - Failed SO Create": {
          "main": [
            [
              {
                "node": "Log Result to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Entry - SO = Void": {
          "main": [
            [
              {
                "node": "Log Event to Backendless",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Mark Wilson",
      "name": "Version 20186417",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-02-03T10:04:02.391Z",
          "id": 52,
          "workflowId": "XYhKungDNJV46vQF",
          "versionId": "20186417-1651-46ae-8075-ad4df1abf0c1",
          "event": "activated",
          "userId": "cb6b4be4-4f57-4999-b61c-7cb9ecfa4a89"
        }
      ]
    }
  }
]